/*********************************************

CH Staging styles
For testing purposes only
All code must be cleared after it goes live

**********************************************/
/* CHUS Staging Styles - to be left in */
.cms-homepage-promo-grid-ch-us .o-region__inner.column.main,
.cms-homepage-promo-grid-ch-us .o-region__inner.s-promo-grid {
  width: 100%;
}

.cms-homepage-promo-grid-ch-us section.flexslider.pageSection.pageSection--slider.pageSection--fullWidth.fullWidthSlider {
  max-width: 100%;
}

/* END CHUS Staging styles */



/* Category header full width START */

.plp-headerKids,
.plp-headerKidsSchool{
	background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-Banner-BacktoSchool-desktop.jpg") !important;
}


@media only screen and (max-width: 1000px){
	.plp-headerKids,
	.plp-headerKidsSchool{
		background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-Banner-BacktoSchool-tablet.jpg")!important;
	}
}

@media only screen and (max-width: 700px){
	.plp-headerKids,
	.plp-headerKidsSchool{
		background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-Banner-BacktoSchool-mobile.jpg")!important;
	}
}


.js-fredhopper-fredhopper-hero-wrapper-placeholder .o-region__inner {
  width: 100% !important;
}

.s-text-banner {
  width: 100%;
}

.banner__text,
.banner__title {
  max-width: 1228px;
  margin: 0 auto;
}

.plp-header.plp-toplevel {
    padding: 5.1% 0 !important;
}

.plp-header {
  text-align: center;
  background-repeat: no-repeat;
  padding: 4.9% 0;
  background-size: cover;
  background-position: center;
  margin-bottom: 1%;
}

.pageothertext, .s-text-banner {
	max-width: 100% !important;
}

.seoheader {
  max-width: 1228px;
  margin: 0 auto;
}

.js-fredhopper-fredhopper-plp-seo-text-wrapper-placeholder {
  max-width: 1228px;
  margin: auto;
}


/* Category header full width END */