.page-product-bundle {
  .bundle-price-container > .minimal-price {
    display: inline-block;
    width: 100%;
  }
  .bundle-price-container > .minimal-price > .minimal-price-float{
    width: 100%;
    text-align: left;
    padding: 0px 7px;
    display: none;
  }
  .minimal-price > div{
    width: 33.333%;
    float: left !important;
    display: inline-block;
    text-align: center;
  }
  .save-price .price-divider {
    float: left;
  }
  .total-price .price-divider {
    float: right;
  }
  .fieldset.fieldset-bundle-options > .field.option.required{
    border-bottom: solid 1px #e2e2e2;
    display: inline-block;
    margin-bottom: 20px;
  }
  .field.option.required > label {
    display: none;
  }
  .bundle-select-left img {
    padding: 0px 20px;
  }
  .save-price {
    color: #d1000b;
  }
  .price-divider {
        color: initial;
  }
  .price-individually:after {
    content: ":";
    margin-left: -3px;
  }
}
