.cms-desktop-stage .main,
.cms-index-index .main {
  width: 100%;
}

#homepage.AW18.desktop, #homepage.AW18.mobile {
  a {
    text-decoration: none;
  }
  h1 {
    text-align: center;
  }
  .arrow {
    position: relative;
  }
  .arrow:after {
    content: " ";
    display: inline-block;
    height: 10px;
    width: 20px;
    margin-right: -10px;
    background-size: 5px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    position: absolute;
    top: 0px;
    bottom: 0;
    margin: auto;
    right: 0;
  }
  .arrow.white:after {
    Background-image: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/white-arrow-line.png);
  }
  .arrow.dark:after {
    Background-image: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/black-arrow-line.png);
  }
  .buyingGuides,
  .contentSpots {
    background: #f1f4f7;
    padding: 2% 0;
  }

  .noBackground {
    background: none;
  }

  .container {
    max-width: 1228px;
    margin: auto;
    width: 100%;
  }

  .contentSpots .special a.flex-item {
    background: #ffffff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    margin: 5px;
    width: calc(24.99% - 15px);
  }

  .contentTitle {
    display: block;
    height: auto !important;
    text-align: center;
    color: #222222;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 0;
  }

  .slider {
    max-width: 1228px;
    margin: auto;
    position: relative;
  }

  .slider .message {
    position: absolute;
    top: 10%;
    right: 6%;
    display: inline-block;
    height: initial;
  }

  .slider .message * {
    line-height: 58px !important;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 0 !important;
    font-size: 48px !important;
    color: #ffffff !important;
    text-transform: uppercase;
  }

  .slider .message .bold {
    font-size: 68px;
    font-weight: bold;
  }

  .slider .subMessage {
    position: absolute;
    top: 42%;
    right: 9%;
    display: inline-block;
    height: initial;
  }

  .slider .subMessage span {
    font-size: 34px !important;
    display: block;
    min-height: initial !important;
    margin: 0 !important;
    line-height: 30px;
    text-align: center;
  }

  .slider .subMessage span.discount {
    font-size: 58px !important;
    line-height: 58px;
  }

  .slider .slider-buttons {
    position: absolute;
    bottom: 10%;
    margin: auto;
    text-align: center;
    right: 0;
    left: 0;
  }

  .slider .slider-buttons > a {
    background: #06b9b4;
    padding: 15px 30px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 100px;
    margin: 0 10px;
    width: 100%;
    max-width: 170px;
    display: inline-block;
  }

  .buyingGuides a {
    display: inline-block;
    background: #ffffff;
    padding: 0;
    margin: 0 5px;
    width: calc(24.99% - 13px) !important;
    text-decoration: none;
    color: inherit;
  }

  .contentSubTitle {
    margin: -10px 10px 0;
    text-align: center;
    line-height: 20px;
    padding: 0 0 10px;
    font-size: 12px;
    color: initial;
  }
  .cta {
    position: absolute;
    top: 60%;
    background: #47a804;
    padding: 10px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
    max-width: 250px;
    border-radius: 100px;
    color: #ffffff;
  }
  #container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    position: relative;
  }

  #list-container {
    width: 100%;
    float: none;
    max-width: 1228px;
    margin: auto;
    position: static;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .list {
    float: left;
    display: block;
    overflow: auto;
    white-space: nowrap;
    position: relative;
    transition: all ease 0.5s;
  }

  #arrowR {
    width: 15%;
    float: right;
    cursor: pointer;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    box-shadow: -10px -5px 20px -10px rgba(0, 0, 0, 0.10980392156862745);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  #arrowL {
    width: 15%;
    float: left;
    cursor: pointer;
    height: 100%;
    top: 0;
    position: absolute;
    box-shadow: -10px -5px 20px -10px rgba(0, 0, 0, 0.10980392156862745);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .arrowContainers > img {
    max-width: 20px;
    margin: auto;
  }

  .item {
    position: relative;
    width: 100%;
    overflow: hidden;
    float: left;
    position: relative;
  }

  .item a {
    display: block;
    background: #ffffff;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    margin: 5px;
  }

  .item > img {
    width: 100%;
  }

  .item h3 {
    margin: 0;
    font-weight: bold;
  }

  .categoryContainer {
    max-width: 100%;
    text-align: center;
    background: #F1F4F7;
    padding: 3% 0;
    position: relative;
  }

  .categoryContainer > h2 {
    width: 100%;
    margin-bottom: 10px;
  }
  .contentSpots .finals a.flex-item{
    background: #ffffff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    margin: 0px;
  }
  @media only screen and (max-width: 1185px) {

    .contentSubTitle {
        margin: 0px 10px 0;
        line-height: 0px;
        padding: 0 0 10px;
        font-size: 10px;
    }
    .slider .message {
      -ms-transform: scale(0.7);
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
    }
    .slider .subMessage {
      -ms-transform: scale(0.7);
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      top: 40%;
      right:7%;
    }

    .slider .subMessage span, .slider .message * {
      text-align: right;
    }
  }
  @media only screen and (max-width: 1025px) {

    .buyingGuides a {
      width: calc(49.99% - 13px) !important;
    }
    .flex-item.col-6 {
        width: 99.98%;
    }
    .cta {
      position: absolute;
      top: 75%;
    }
  }
  @media only screen and (max-width: 800px) {

  .slider .slider-buttons {
      position: relative;
      width: 100%;
    }
     .slider .message {
        top: 0%;
        right: -3%;
        -ms-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
  .slider .subMessage {
      -ms-transform: scale(0.5);
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      position: absolute;
      top: 30%;
      right: 0%;
    }
  }

  @media only screen and (max-width: 770px) {
    h1 {
      text-align: center;
      font-size: 5vw;
      padding: 10px;
      width: 100%;
    }
    .special a.flex-item {
      width: calc(49.99% - 15px) !important;
      padding: 0 !important;

    }
    .cta {
      position: absolute;
      top: initial;
      width: 100%;
      margin: auto;
      bottom: 20px;
      max-width: 80%;
      padding: 5px;
    }
    .contentSubTitle {
      line-height: 14px;
    }
    .container.scroll {
      display: block;
      overflow: auto;
      white-space: nowrap;
    }
    .buyingGuides a {
      width: calc(69.99% - 13px) !important;
    }
    .item {
      margin: 0% 0% 0% 5% !Important;
      display: inline-block;
      max-width: 70%;
      background: #ffffff;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
      float: none;
    }
    .slider .message {
      top: -7%;
      left: 0%;
      right: 0%;
    }
    .slider .subMessage {
      top: 17%;
      right: 0%;
      left: 0%;
    }
    .slider .message *, .slider .subMessage span{
      text-align: center !important;
    }
    .finals .cta {
      position: initial !important;
      max-width: 100% !important;
    }
  }

}
