/* FR STYLES ONLY */

/* Hides the top navigation links  START*/
    .s-header-links .links>li:nth-child(5), .s-header-links .links>li:nth-child(6) {
        display: none;
    }
    .c-mobile-menu .c-mobile-menu__secondary-menu .greet.welcome{
        display: none;
    }
/* Hides the top navigation links END */

/* Roundal styling START */
    .roundel {
        padding: 10px 5px;
    }
    @media only screen and (max-width: 350px) {
        .roundel {
            max-width: 46px;
            padding: 5px !important;
        }
    }
/* Roundal styling END */

/* Category show and hide button styles START */
    .category-text{
        max-height: 50px;
        overflow: hidden;
        display: block;
     }
    .category-text.active{
        max-height: initial;
    }
     .text-size{
        max-width: 120px;
        text-align: center;
        text-decoration: underline;
        margin: 0px -17px;
    }
    .category-links > br{
        display: none;
    } 

    @media only screen and (max-width: 770px) {

        html:lang(fr) .catalog-category-view .text-size {
            display: none;

        }
    }
/* Category show and hide button styles END*/

/* Hides Reviews START */
    .catalog-product-view .c-rating__wrap, .catalog-product-view #tab-label-reviews, .c-quick-view--wrapper .c-rating__wrap{
        display: none;
    }
/* Hides Reviews END */

/* Header Logo START */

    @media (max-width: 61.865em) {
        .c-header__logo {
            height: 80px !important;
        }
    }
/* Header Logo END */