/* FR STYLES ONLY */

/* Hides the top navigation links */
.s-header-links .links>li:nth-child(5), .s-header-links .links>li:nth-child(6) {
	display: none;
}

.roundel {
    padding: 10px 5px;
}

@media only screen and (max-width: 350px) {
    .roundel {
        max-width: 46px;
        padding: 5px !important;
    }
}

/* Category show and hide button styles */
.category-text{
    max-height: 50px;
    overflow: hidden;
    display: block;
 }
.category-text.active{
    max-height: initial;
}
 .text-size{
    max-width: 120px;
    text-align: center;
    text-decoration: underline;
    margin: 0px -17px;
}
.category-links > br{
	display: none;
} 
@media only screen and (max-width: 770px) {


    html:lang(fr) .text-size {
        display: none;

    }

}