/*//////////////////////////////*/
/*  Global Styles               */
/*//////////////////////////////*/
/*Updated header and footer theme STARTS*/
.c-header, .c-header--sticky {
  background-color: #000000 !important;
}
.c-footer {
    background-color: #000000 !important;
}
.c-footer__social {
    display: none;
}
.s-main-menu .block {
    background: #000000 !important;
}
.c-footer__copyright {
  border-top: 1px solid #272727;
}
@media only screen and (max-width: 739px) {
  .mobile-footer-links h4 {
    background: #353535;
  }
  .nav-before-open .c-mobile-menu {
    z-index: 1;
  }
  .nav-before-open .c-mobile-menu .s-main-menu .block{
    background: #ffffff !important;
  }
  .c-header--sticky img {
    height: auto;
  }
  .c-header--sticky .o-layout .o-layout__item + .o-layout__item + .o-layout__item  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
  }

}
/*Updated header and footer theme ENDS*/

li#switcher-currency-nav {
    display: block !important;
}
.c-campaign img {
    max-height: 130px !important;
    width: auto !important;
}
.category-sale .c-campaign img {
    max-height: initial !important;
}
.c-header-search .c-header-search__input {
    color: #fff !important;
    background-color: #383838 !important;
    border-color: #424242 !important;
}

/*//////////////////////////////*/
/*  Checkout Success            */
/*//////////////////////////////*/
.checkout-onepage-success #wrapper > #content{
      text-align: center;

}
.checkout-onepage-success #wrapper > #content h1.u-heading-beta.page-title:before {
  content: "";
  background: url('https://cdn.dare2b.com/images/global/tick.svg');
  width: 100px;
  height: 100px;
  display: block;
  margin:  auto auto 20px auto;
}

/*//////////////////////////////*/
/*  Product Page                */
/*//////////////////////////////*/
/* More Colours arrow styles (More than 4 items)*/
.products.wrapper.grid.products-grid.products-related {
  margin: 0px 20px;
  position: relative;
}

.products.wrapper.grid.products-grid.products-related ol {
  float: left;
  display: block;
  overflow: auto;
  white-space: nowrap;
  position: relative;
  transition: all ease 0.5s;
  position: relative;
  overflow-y: hidden;
}

.products.wrapper.grid.products-grid.products-related ol::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.products.wrapper.grid.products-grid.products-related li {
  margin-bottom: 18px;
  background: #ffffff;
  padding: 5px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: 0;
  display: inline-block;
  float: none;
}

.nextArrow {
  position: absolute;
  top: 0;
  right: 0;
}

.previousArrow {
  background: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/black-arrow-line.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
  width: 15px;
  height: 110px;
  position: absolute;
  left: -30px;
  top: 0;
  display: block;
  z-index: 1;
  font-size: 0px;
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.nextArrow {
  background: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/black-arrow-line.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
  width: 15px;
  height: 110px;
  position: absolute;
  right: -30px;
  top: 0;
  display: block;
  z-index: 1;
  font-size: 0px;
}

@media only screen and (max-width:600px) {
  .products.wrapper.grid.products-grid.products-related {
    display: inline-block;
  }

  .products.wrapper.grid.products-grid.products-related ol {
    width: calc(100% - 30px);
    margin: auto;
    float: none;
  }

  .nextArrow {
    background-size: 12px;
    right: -25px;
    top: 0;
    width: 30px;
    height: 100%;
  }

  .previousArrow {
    background-size: 12px;
    left: -25px;
    top: 0;
    width: 30px;
    height: 100%;
  }

}

.page-product-configurable .c-price.js-price-highlight .c-price--large  .price-label + .c-price__final.price-wrapper > .price{
    color: #D32526;
}

/*//////////////////////////////*/
/*  Product Page fabrics        */
/*//////////////////////////////*/
#tech-image-wrapper > div {
      max-width: 140px;
}

#tech-image-wrapper > div > img{
    width: 100%;
    height: auto;
}

/*//////////////////////////////*/
/*  New PLP theme Category page */
/*//////////////////////////////*/
html .catalog-category-view {

  .c-price.c-price--small > p.c-price__group:first-child {
    font-size: 12px;
    text-align: center;
  }
  .c-price.c-price--small.noRrp .c-price__group.sale{
    color:#333333;
  }

  .c-price.c-price--small.hasRrp .c-price__group.original{
    color:#333333;
  }

  .c-price.c-price--small.hasRrp .c-price__group.sale{
    color:#D32526;
  }


  .c-product-tile__img-wrapper + a {
    color: #5f5f5e;
    text-align: center;
    display: block;
  }

  .c-product-tile__title {
    color: #615F61;
  }

  .c-price.c-price--small > p.c-price__group:first-child {
    font-size: 12px;
    text-align: center;
  }

  .c-price.c-price--small > p.c-price__group:last-child {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }

/*  .c-price.c-price--small > p.c-price__group:last-child:before {
    content: "Now:";
    font-weight: inherit;
    font-size: inherit;
  }*/

  .c-product-tile.u-heading-epsilon .c-product-tile__save {
      position: absolute;
      right: 0px;
      bottom: 90px;
  }

  .c-price.c-price--small > p.c-price__group:last-child .c-price__final.u-color-highlight {
    font-size: inherit;
  }

  .c-product-tile.u-heading-epsilon .c-product-tile__item-extra-info {
    position: static;
    background: #ececec !important;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 11px;
    bottom: initial;
    opacity: 1;
    padding: 10px 5px;
  }

  .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
    margin: 0px;
    padding: 10px 10px;
    border-radius: 4px;
    border: 2px solid #34af65;
    color: #34af65;
  }

  .c-product-tile.u-heading-epsilon .c-product-tile__save {
    position: absolute;
    right: 0;
    bottom: 90px;
  }

  .c-product-tile.u-heading-epsilon .c-rating__reviews:after {
    content: " Reviews";
    color: #a7a7a7;
  }

  @media only screen and (max-width:1228px) {
    .c-product-tile__title {
      line-height: 18px;
    }

    .c-product-tile.u-heading-epsilon .c-rating__reviews::after {
      display: none;
    }

  }

  @media only screen and (max-width:989px) {
    .c-rating__container {
      -ms-transform: scale(0.7);
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      display: block;
      height: 30px;
      float: left;
      margin-left: -20px;
    }

    .c-price.c-price--small > p.c-price__group:last-child {
      text-align: left;
    }

    .c-price.c-price--small > p.c-price__group:first-child {
      text-align: left;
    }

    .c-product-tile__img-wrapper + a {
      text-align: left;
    }

  }

  @media only screen and (max-width:770px) {
    .c-price.c-price--small > p.c-price__group:first-child {
      font-size: 12px;
      text-align: center;
    }

    .c-price.c-price--small > p.c-price__group:last-child {
      text-align: center;
    }

    .c-product-tile__img-wrapper + a {
      text-align: center;
    }

    .c-rating__container {
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      margin: 0px;
    }

    .c-product-tile.u-heading-epsilon .c-product-tile__save {
      bottom: 85px;
    }

    .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
      margin-top: 40px;
    }

    .c-page-wrapper {
      padding: 0px 10px !important;
    }

    .c-rating__reviews {
      color: #a7a7b3;
    }

    .u-flex-display.u-12\/12 .c-rating__reviews {
      float: right;
      position: absolute;
      top: 0;
      right: 10px;
      color: #a7a7b3;
    }

    .u-flex-display.u-12\/12 .c-rating {
      float: initial;
      clear: none;
      margin: auto;
    }

    /* Full width col 12 by 12 */
    .u-flex-display.u-12\/12 {
    }

    .u-flex-display.u-12\/12 .c-product-tile__img-wrapper + a {
      font-size: 17px;
    }

    .u-flex-display.u-12\/12  .c-rating__container {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      position: relative;
      width: 100%;
      margin: auto;
      max-width: calc(100% - 50px);
      left: 0;
      right: 0;
      display: inline-block;
      height: 40px;
    }

    .u-flex-display.u-12\/12  .c-product-tile.u-heading-epsilon .c-rating__reviews:after {
      display: inline-block;
      float: none;
      margin-left: 4px
    }

    .u-flex-display.u-12\/12  .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
      margin-top: 10px;
    }

  }

}

/*////////////////////////////*/
/* New PLP theme Search Page  */
/*////////////////////////////*/
html .search-index-index {
  .c-product-tile__img-wrapper + a {
    color: #5f5f5e;
    text-align: center;
    display: block;
  }

  .c-product-tile__title {
    color: #615F61;
  }

  .c-price.c-price--small > p.c-price__group:first-child {
    font-size: 12px;
    text-align: center;
  }

  .c-price.c-price--small > p.c-price__group:last-child {
    font-size: 18px;
    text-align: center;
    color: #D32526;
    font-weight: bold;
  }

/*  .c-price.c-price--small > p.c-price__group:last-child:before {
    content: "Now:";
    font-weight: inherit;
    font-size: inherit;
  }*/

  .c-product-tile.u-heading-epsilon .c-product-tile__save {
      position: absolute;
      right: 0px;
      bottom: 90px;
  }

  .c-price.c-price--small > p.c-price__group:last-child .c-price__final.u-color-highlight {
    font-size: inherit;
  }

  .c-product-tile.u-heading-epsilon .c-product-tile__item-extra-info {
    position: static;
    background: #ececec !important;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 11px;
    bottom: initial;
    opacity: 1;
    padding: 10px 5px;
  }

  .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
    margin: 0px;
    padding: 10px 10px;
    border-radius: 4px;
    border: 2px solid #34af65;
    color: #34af65;
  }

  .c-product-tile.u-heading-epsilon .c-product-tile__save {
    position: absolute;
    right: 0;
    bottom: 90px;
  }

  .c-product-tile.u-heading-epsilon .c-rating__reviews:after {
    content: " Reviews";
    color: #a7a7a7;
  }

  @media only screen and (max-width:1228px) {
    .c-product-tile__title {
      line-height: 18px;
    }

    .c-product-tile.u-heading-epsilon .c-rating__reviews::after {
      display: none;
    }

  }

  @media only screen and (max-width:989px) {
    .c-rating__container {
      -ms-transform: scale(0.7);
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      display: block;
      height: 30px;
      float: left;
      margin-left: -20px;
    }

    .c-price.c-price--small > p.c-price__group:last-child {
      text-align: left;
    }

    .c-price.c-price--small > p.c-price__group:first-child {
      text-align: left;
    }

    .c-product-tile__img-wrapper + a {
      text-align: left;
    }

  }

  @media only screen and (max-width:770px) {
    .c-price.c-price--small > p.c-price__group:first-child {
      font-size: 12px;
      text-align: center;
    }

    .c-price.c-price--small > p.c-price__group:last-child {
      text-align: center;
    }

    .c-product-tile__img-wrapper + a {
      text-align: center;
    }

    .c-rating__container {
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      margin: 0px;
    }

    .c-product-tile.u-heading-epsilon .c-product-tile__save {
      bottom: 85px;
    }

    .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
      margin-top: 40px;
    }

    .c-page-wrapper {
      padding: 0px 10px !important;
    }

    .c-rating__reviews {
      color: #a7a7b3;
    }

    .u-flex-display.u-12\/12 .c-rating__reviews {
      float: right;
      position: absolute;
      top: 0;
      right: 10px;
      color: #a7a7b3;
    }

    .u-flex-display.u-12\/12 .c-rating {
      float: initial;
      clear: none;
      margin: auto;
    }

    /* Full width col 12 by 12 */
    .u-flex-display.u-12\/12 {
    }

    .u-flex-display.u-12\/12 .c-product-tile__img-wrapper + a {
      font-size: 17px;
    }

    .u-flex-display.u-12\/12  .c-rating__container {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      position: relative;
      width: 100%;
      margin: auto;
      max-width: calc(100% - 50px);
      left: 0;
      right: 0;
      display: inline-block;
      height: 40px;
    }

    .u-flex-display.u-12\/12  .c-product-tile.u-heading-epsilon .c-rating__reviews:after {
      display: inline-block;
      float: none;
      margin-left: 4px
    }

    .u-flex-display.u-12\/12  .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
      margin-top: 10px;
    }

  }

}

/*//////////////////////////*/
/* Endcap Specials          */
/*//////////////////////////*/
.page-product-configurable .specials.endcap-container {
  background: #ffffff;
  margin: auto !important;
  display: block;
  max-width: 1700px;
  padding: 30px 10px;
  width: 90%;
  position: relative;
  top: 70px;
  margin-bottom: 110px !important;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.09);
}

.page-product-configurable .specials.endcap-container .action-tabs .tabs *[data-action="tab"] {
  border: none !important;
  text-align: center;
  display: inline-block;
  flex-grow: unset;
  font-size: 18px;
}

.page-product-configurable .specials.endcap-container .mt_sliderTop {
  display: none;
}

.page-product-configurable .specials.endcap-container .action-tabs .tabs {
  text-align: center;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
}

.page-product-configurable .specials.endcap-container .action-tabs .tabs-content {
  border: none !important;
}

.page-product-configurable .specials.endcap-container .action-tabs .tabs *[data-action="tab"].active {
  background: none;
  color: #000000;
}

@media only screen and (max-width:650px) {
  .page-product-configurable .specials.endcap-container .action-tabs .tabs *[data-action="tab"].active {
    background: none;
    color: #000000;
    line-height: 30px;
  }

  .page-product-configurable .specials.endcap-container .action-tabs .tabs *[data-action="tab"] {
    font-size: 15px;
    padding: 0px 15px 10px 15px;
    margin: 0px -10px 20px -10px;
    width: 53%;
    line-height: 30px;
    color: #bdbdbd;
  }

  .page-product-configurable   .specials.endcap-container {
    top: 40px;
    margin-bottom: 70px !important;
    padding: 5px 10px;
  }

  .page-product-configurable .specials.endcap-container .action-tabs .tabs-content {
    padding: 0px 0px;
  }

  .page-product-configurable .specials.endcap-container .mt_endcap.mt_horizontal, .specials.endcap-container  .mt_sliderMiddle {
    overflow: visible;
  }

  .page-product-configurable .specials.endcap-container .mt_backArrow {
    left: -40px;
    z-index: 1;
  }

  .page-product-configurable .specials.endcap-container .mt_nextArrow {
    right: -40px;
    z-index: 1;
  }

  .page-product-configurable .specials.endcap-container .mt_sliderMask ul li.mt_item {
    padding: 0px;
  }

}

/* Custom category scrollbars */

.c-facet-list__list--scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.c-facet-list__list--scroll::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.c-facet-list__list--scroll::-webkit-scrollbar-thumb {
  background-color: #5b5b5b;
}

html .c-basket__payment-icons {
  background: url(https://cdn.dare2b.com/img/global-images/PaymentMethods.png) no-repeat;
  background-size: 100%;
  background-position: center;
}
/*//////////////////////////*/
/* Cookie bar               */
/*//////////////////////////*/
#notice-cookie-block .content > p {
  font-size: 0px;
  margin: 0px;
}

#notice-cookie-block .content * {
  display: inline-block;
  color: #ffffff;
}

#notice-cookie-block #btn-cookie-allow {
  background: #2cbe4e;
  border-radius: 3px;
  border: none;
  padding: 5px 20px;
}

#notice-cookie-block .content {
  background: rgba(43, 45, 47, 0.97);
  position: fixed;
  width: 100%;
  z-index: 10000;
  bottom: 0;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.37);
}

#notice-cookie-block a {
}

#notice-cookie-block .content a {
  margin-top: -10px;
  line-height: 17px;
}

#notice-cookie-block a:after {
  content: "By continuing to use this site you consent to the use of cookies in accordance with our cookie policy";
  font-size: 15px;
  display: block;
}

/*//////////////////////////*/
/* Product Page Size Button */
/*//////////////////////////*/
.page-product-configurable .c-product-size__size-guide-link{
  position: relative !important;
  top: 0px;
  right: 0;
  color: #2e76b9;
  padding: 0;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}
.page-product-configurable .c-product-size__size-guide-link:hover {
  color: initial;
  border: none;
  background: none;
}
/*/////////////////////////*/
/*    Quick Buy resize     */
/*/////////////////////////*/
@media only screen and (max-width: 600px) {

  .catalog-category-view  .modal-popup.c-quick-view--wrapper .modal-inner-wrap {
      width: 90% !important;
  }

  .catalog-category-view  .c-product-size__link {
      margin-right: 0px !important;
      margin: 5px;
      min-width: 66px;
  }


   .catalog-category-view  .modal-inner-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

   .catalog-category-view  .modal-inner-wrap::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

   .catalog-category-view  .modal-inner-wrap::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
   .catalog-category-view  .modal-inner-wrap {
    overflow-x: hidden !important;
  }
}

/*/////////////////////////*/
/*    Hides Quick Buy     */
/*/////////////////////////*/
/*
.catalog-category-view .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
 display: none !important;
 }

.catalog-category-view .c-product-tile__img-wrapper {
  margin-bottom: 10px;
}

.catalog-category-view .price-badge {
  top: 59% !important;
}
*/

.c-store-details__item .c-store-details__collection{
      color: #000000 !important;
}
#minicart-content-wrapper .c-mini-cart__basket > a > span {
  font-size:18px;
}

#ui-id-12.ui-state-focus:after, #ui-id-12.ui-state-focus:after {
  display: none;
}

body .c-product-tile__btn{
  background: transparent;
  border: 2px solid #34af65;
  color: #34af65;
}

/*/////////////////////////*/
/* Moved colours available */
/*/////////////////////////*/
.c-product-tile__img-wrapper .c-product-tile__item-extra-info {
    position: relative;
    background: #f3f3f3;
    color: #4c4c4c;
}

@media only screen and (max-width: 1227px) {
  body .s-main-menu .categories > li > a {
      font-size: 1rem;
  }
}
@media only screen and (min-width: 660px) and (max-width: 989px) {
  body .s-main-menu .categories > li > a {
      font-size: 0.8rem;
  }
}


/*////////////////////////*/
/*      Basket Page       */
/*////////////////////////*/

.c-basket__footer{
  .c-input-combined__input-wrapper{
    .c-input-combined__input {
      border: 2px solid #dedede !important;
      background-color: #ebebeb !important;
    }
  }
}

/*////////////////////////*/
/*.   PDP Styles          */
/*////////////////////////*/

#PDP-Size-Chart table{
  width: 100%
}

#PDP-Size-Chart thead{
  background: #ddd;

}

#PDP-Size-Chart tr, td{
  border: 1px solid;
  padding: 4px;
}

body.page-product-configurable .o-region__inner .o-layout.u-padding-top > div{
  width: 100% !important;
}
.page-product-configurable{
  .o-list-stacked--spaced .o-list-stacked__item {
    margin-bottom: 18px;
    background: #efefef;
    display: table;
    padding: 5px 15PX;
    border-radius: 100px;
    color: #bdbdbd;
    margin: 5px;
    display: inline-block;
  }
  .o-list-stacked--spaced .o-list-stacked__item a {
    color: #8c8c8c;
    text-decoration: none;
  }
}


/*////////////////////////*/
/*.    Roundel styling.   */
/*////////////////////////*/

#product-roundel {
  background: #2676ba;
  max-width: 53px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 15px;
  border-radius: 6px 6px 6px 0px;
  color: #ffffff;
  box-shadow: 0px 3px 6px -5px #000000;
  display: block !important;
  float: right;
  clear: right;
}
.c-grid--position li.u-flex-display  {
  position: relative; overflow: hidden;
}

.c-product-tile__badge-content #monVars {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    top: 0;
}
.roundel {
    position: absolute;
    top: 25%;
    right: -55%;
    z-index: 1;
    padding: 4px;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    border-radius: 0px;
    color: #ffffff;
    box-shadow: 0px 3px 6px -5px #000000;
    display: block !important;
    width: 220%;
    max-width: 200%;
    background: #000000 !important;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media only screen and (max-width: 989px) {
  .roundel {
      top: 25%;
      right: -55%;
  }
}

@media only screen and (max-width: 350px) {
  .mon-badge {
    z-index: 1;
    font-size: 10px;
    padding: 5px;
  }
  .roundel {
    max-width: 42px;
    padding: 5px;
  }
}

/*//////////////////////////
/* Footer Block Links
/*////////////////////////*/

.footerFeefo {
    text-decoration: none;
}
.page-product-configurable #basket-promo {
  font-size: 15px;
}

.c-feefo p, .c-feefo h4, .c-feefo h5{
  color: #fff;
}

.c-footer__links a[onclick]{
  text-decoration:none;
}

@media only screen and (max-width: 739px) {
  .mobile-footer-links h4::before {
      content: "+";
      float: right;
      font-size: 15px;
      margin-top: -3px;
  }
  .mobile-footer-links .toggleMain::before {
      content: "-";
      float: right;
      font-size: 15px;
      margin-top: -3px;
  }
  .mobile-footer-links h4 {
      background: #606060;
      padding: 10px;
      color: #ffffff;
  }
  .mobile-footer-links h4 + ul {
    display:none;
  }
  .mobile-footer-links .toggleMain + ul {
    display:inline-block;
      margin:0px;
  }
  .mobile-footer-links .toggleMain + ul li {
      display:block;
    padding:10px;
      margin:1%;
    width:48%;
      float:left;
      background: #d4d4d4;
      text-align:left;
  }
  .mobile-footer-links .toggleMain + ul li a{
    color:#606060;
  }
}


/*/////////////////////////////
/* Footer Block FeeFo Mobile */
/*///////////////////////////*/

@media screen and (max-width:500px) {
  body .c-feefo {
    background-size: 80px;
    padding: 0;
    min-height: 42px;
    background-position: left 15px center;
    margin: 7px 0px;
    position: relative;
  }
  .c-feefo h4.c-feefo__titl {
    display: none;
  }
  .c-feefo .c-feefo__percentage {
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .c-feefo__subtitle {
    position: absolute;
    bottom: -23px;
    right: 0;
    left: 0;
    color: #b9b9b9;
  }
}



/* Account Style */
.account.sales-order-view .box-order-billing-method {
    display: none;
}
/* END */

/* wooform fix */
#wufooFormk1hcbt9l12keg2l{
  height: 1000px;
}


/* Monetate Additions */

.page-product-configurable .u-heading-beta.page-title{
  font-size: 1.41429rem;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale
}
.page-product-configurable .c-product-details .c-price__group{
    margin-bottom: 0px !important;
}
.page-product-configurable .c-rating__wrap{
    margin-bottom: 10px !important;
}
.page-product-configurable .c-product-details .product-options-wrapper{
    position: relative;
}

.page-product-configurable .c-product-size__size-guide-link{
    position: absolute;
    top: 0px;
    right: 7px;
    color: #2e76b9;
    padding: 5px 30px;
    border-radius: 5px;
    border: solid 2px #2e76b9;
    text-decoration: none;
}

.page-product-configurable .c-product-size__size-guide-link:hover{
    color: #ffffff;
    border: solid 2px #2e76b9;
    background:#2e76b9;
}

.page-product-configurable .c-product-size__link{
    margin: 5px;
    min-width: 73px;
}

.page-product-configurable .c-tabs{
    margin-top: 0px;
}

.page-product-configurable .product-options-bottom{
  margin-top: 20px;
}



.s-main-menu .ui-menu{
  z-index:3 !important;
}

@media screen and (max-width: 700px){
  #shipping-new-address-form .c-input-wrap.field._required._error{
    height: auto;
  }
}

.c-product-tile__title{
  text-transform: capitalize !important;
}


/*/////////////////////////////////
/* Custom AJAX loader styles     */
/*///////////////////////////////*/
.loader {
  display: block;
  width: 30% !important;
  height: 4px;
  background: #F5F5F5;
  position: fixed !Important;
  top: 40%;
  left: 35%;
  margin: 0 !important;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.loader .image {
  background: none !Important;
  background-color: #2676ba !important;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  margin: 0 !important;
  -webkit-animation: loader 1s infinite linear;
}

@-webkit-keyframes loader {
  0% {
    left: -100%;
    width: 40%;
    opacity: 1
  }

  50% {
    left: 0%;
    width: 60%;
    opacity: 1
  }

  100% {
    left: 100%;
    width: 40%;
    opacity: 1
  }

}

@media screen and (max-width:600px) {
  .loader .image, .loader {
    height: 6px;
    border-radius: 100px;
  }

}


/*/////////////////////////////////////////
/* Left hand navigation re-style UK ONLY */
/*///////////////////////////////////////*/
html:lang(en) .catalog-category-view {

  @media only screen  and (min-width:739px) {
    .c-back-to-top-btn__wrapper {
      position: fixed;
      width: 60px;
      top: 85vh !important;
      height: 60px;
      border-radius: 100px;
      margin-top: 30px;
      background: #f5f5f5;
      text-align: center;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      z-index: 3;
    }

    #footer {
      z-index: 2;
      position: relative;
    }

    .c-back-to-top-btn__icon {
      width: 100%;
    }

    .c-back-to-top-btn__wrapper .c-back-to-top-btn__button--text {
      display: none;
    }

    .c-back-to-top-btn__wrapper:hover {
      background: #e2e2e2;
    }

    .c-back-to-top-btn__wrapper:hover .c-back-to-top-btn__button--text {
      display: inline-block;
      width: 140%;
      font-size: 11px;
      line-height: 11px;
      background: #000000;
      border-radius: 3px;
      color: #bfbfbf;
      padding: 10px;
      position: absolute;
      bottom: -40px;
      left: -10px;
      right: 0;
    }

    .c-back-to-top-btn__icon i {
      width: 20px;
      height: 20px;
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    .c-facet-list__facet-header.active {
      border-bottom: solid 2px #2e75bb !important;
      padding-bottom: 16px !important;
      margin-bottom: -13px !important;
    }

    .widget.block.block-static-block.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
      z-index: 4 !important;
    }

    .column.main .o-region__inner {
      width: 100% !important;
    }

    .c-facet-list__facet-header + div + ul {
      display: none;
    }

    .c-facet-list__facet-header + div + ul.active {
      display: block;
      position: absolute;
      width: initial;
      background: #f5f5f5;
      border: solid 1px #ebebeb;
      box-shadow: 0px 7px 10px -4px #0000002b;
      z-index: 3;
      padding: 10px;
      margin-top: 13px;
      max-width: 300px;
      min-height: 240px;
      max-height: 285px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .c-facet-list__facet-header + div + ul.active * {
      padding: 0;
      display: block;
    }

    .c-facet-list__facet-header + div + ul.active .c-checkbox-option__text {
      margin-left: 20px;
      text-align: left;
      float: left;
      text-align: left;
    }

    .c-facet-list__facet-header + div + ul.active .c-checkbox-option__checkbox {
      border: solid 2px #d6d6d6;
    }

    .c-facet-list__facet-header + div + ul.active .c-checkbox-option__checkbox {
      top: 3px !important;
      width: 20px !important;
      height: 20px !important;
      margin: 0px 1px 1px -5px !important;
    }

    .c-facet-list__facet-header + div + ul.active > li {
      width: 100%;
      max-width: 100%;
      margin: 4px 0px;
      padding: 10px;
      background: #ffffff;
      line-height: 10px;
      border-radius: 5px;
      border: solid 1px #e0e0e0;
    }

    .o-list-stacked.c-mobile-facet-list li {
      float: left;
      width: 20%;
      text-align: center;
      padding: 0px 10px;
      display: flex;
      flex-wrap: wrap;
      flex-basis: 136px;
      flex-grow: 1;
      max-width: 11%;
    }

    .o-list-stacked.c-mobile-facet-list h3:after {
      content: " ";
      display: inline-block;
      background-image: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/black-arrow-line.png);
      height: 9px;
      width: 20px;
      margin-right: -10px;
      background-size: 5px;
      background-repeat: no-repeat;
      background-position: center;
      float: right;
      position: absolute;
      top: -5px;
      bottom: 0;
      margin: auto;
      right: -15px;
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    .o-list-stacked.c-mobile-facet-list h3.active:after {
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      top: -10px;
    }

    .o-list-stacked.c-mobile-facet-list li * {
      font-size: 14px;
      margin: 0;
      cursor: pointer;
      border: none;
      padding-bottom: 9px;
      font-weight: 100;
      text-transform: capitalize;
    }

    .o-list-stacked.c-mobile-facet-list li > div {
      width: 100%;
    }

    .o-list-stacked.c-mobile-facet-list li h3 {
      position: relative;
    }

    .o-list-stacked.c-mobile-facet-list {
      padding-top: 10px;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }

    .o-layout .c-selected-facets--position {
      border-bottom: solid 1px #ebebeb;
    }

    .o-layout .c-selected-facets--position, .o-layout .c-toolbar--position, .o-layout .c-grid--position {
      width: 100% !important;
      position: relative;
      padding: 0px 20px;
    }

    .o-layout .c-selected-facets--position > div, .o-layout .c-toolbar--position > div, .o-layout .c-grid--position > div {
      width: 100% !important;
      max-width: 1228px;
      float: none;
      margin: auto;
    }

    .o-layout .c-toolbar--position .c-drop > select {
      border-radius: 100px;
      padding: 0px 20px;
      height: 50px;
    }

    .o-layout .c-toolbar--position .c-mobile-listing__sort--flex-order {
      max-width: 25%;
      height: 90px;
      margin-top: -20px;
      padding-top: 20px;
      border-right: solid 1px #ebebeb;
      padding-right: 20px;
    }

    .o-layout .c-toolbar--position .c-drop:after, .c-icon--drop-primary {
      top: 20px;
      right: 20px;
    }

    .o-layout .c-toolbar--position  > .o-layout {
      position: relative !important;
    }

    .o-layout .c-toolbar--position .o-layout {
      padding: 0;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      text-align: left;
      padding: 0 10px;
    }

    .o-layout .c-toolbar--position .c-mobile-listing__pagination--flex-order {
      max-width: 34%;
      float: right;
      right: 0;
      position: absolute;
      padding-right: 5px;
    }

    .c-pagination {
      margin: 6px 0px 0px 0px !important;
    }

    .c-pagination li a {
      width: 50px;
      border-radius: 100px;
      height: 50px;
      line-height: 50px;
      margin: -5px 3px 0px 2px !important;
    }

    .o-layout .c-toolbar--position .c-mobile-listing__pagination--flex-order .c-pagination li .c-pagination__item.c-pagination__item--arrow {
      margin: 0px 10px;
    }

    .c-selected-facets--position + .c-toolbar--position {
      position: relative;
      text-align: center;
      height: 90px;
    }

    .columns .c-selected-facets--position + .c-toolbar--position > .o-layout:first-child {
      position: absolute !important;
      margin: auto;
      left: -80px;
      top: 32px;
      z-index: 1;
      float: left;
      border-right: solid 1px #ebebeb;
      padding-right: 10px;
      height: 89px;
      margin-top: -30px;
      padding-top: 32px;
      max-width: 500px;
    }

    .columns .c-selected-facets--position + .c-toolbar--position > .o-layout:first-child > * {
      width: 50% !important;
      text-align: center;
      padding: 0 !important;
    }

    #js-react-fredhopper > div > div > div.o-layout__item .mobile.c-toolbar--position > div:nth-child(1) > div.o-layout__item .mobile {
      display: none;
    }

    .c-selected-facets--position + .c-toolbar--position {
      position: relative;
      text-align: center;
      padding: 20px 0px;
      border-bottom: solid 1px #ebebeb;
      margin-bottom: 20px;
      background: #ffffff;
    }

    #top-level-cat-banner {
      background: #F5F5F5 !important;
    }

    .c-facet-list.selected-facets {
    }

    .c-facet-list.selected-facets h3 {
      float: left;
      text-transform: capitalize;
    }

    .c-facet-list.selected-facets h3 + a {
      float: left !important;
      position: relative;
      margin-left: 20px;
    }

    .c-facet-list.selected-facets h3 + a + ul {
      float: right !important;
    }

    .c-facet-list__refine {
      margin-bottom: 0px;
      border-bottom: 1px solid #ebebeb;
      position: relative;
      display: inline-block;
      width: 100%;
      margin-top: 10px;
    }

    .c-facet-list__refine-header > * {
      display: inline-block !important;
    }

    .c-pagination__item.c-pagination__item--current {
      background: #343334 !important
    }

    .has-filter h3 {
      border-bottom: 2px solid #2e75bb !important;
      padding-bottom: 16px !important;
    }

    .c-facet-list__selected-list-item {
      display: inline-block;
      margin-left: 20px;
      position: relative;
      padding-right: 20px;
    }

    .c-facet-list__selected-list-item:after {
      content: '|';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    .c-facet-list__selected-list-item:last-child:after {
      display: none;
    }

  }

    @media only screen and (min-width:739px) {
     .columns .c-selected-facets--position + .c-toolbar--position > .o-layout:first-child > div:first-child{
        display:none;
      }
    }

  @media only screen and (min-width:739px)  and (max-width:1150px) {
    .c-selected-facets--position + .c-toolbar--position {
      height: 160px;
    }

    .columns .c-selected-facets--position + .c-toolbar--position > .o-layout:first-child {
      position: relative !important;
      width: 100% !important;
      left: 0px;
      max-width: 100%;
      padding: 10px;
      height: 60px;
      float: left;
      margin-top: -40px;
      border-bottom: solid 1px #ebebeb;
      margin-bottom: 30px;
    }

    .columns .c-selected-facets--position + .c-toolbar--position > .o-layout:first-child > * {
      text-align: left;
      padding: 0 !important;
      padding-left: 30px !important;
    }

    .columns .c-selected-facets--position + .c-toolbar--position > .o-layout .o-layout__item:last-child > * {
      text-align: right;
    }

    .o-layout .c-toolbar--position .o-layout {
      top: 21px;
    }

    .o-layout .c-toolbar--position .c-mobile-listing__pagination--flex-order {
      max-width: 50%;
    }

    .o-layout .c-toolbar--position .c-mobile-listing__sort--flex-order {
      max-width: 50%;
      width: 100% !important;
    }

  }

  @media only screen  and (min-width:739px)  and (max-width:750px) {
    .o-list-stacked.c-mobile-facet-list {
      padding-top: 10px;
      width: 100%;
      display: block;
      overflow: auto;
      white-space: nowrap;
      padding-bottom: 10px;
    }

    .o-list-stacked.c-mobile-facet-list li {
      float: none;
      width: 20%;
      text-align: center;
      padding: 0px 10px;
      display: inline-block;
      flex-wrap: wrap;
    }

    .c-facet-list__facet-header + div + ul.active {
      padding: 10px;
      left: 0;
      width: 100%;
      margin-top: 15px;
      min-height: 250px;
    }

    .c-facet-list__facet-header + div + ul.active > li {
      width: 100%;
      max-width: 28%;
      margin: 0px 20px;
      padding: 10px 0px;
      float: left;
      text-align: left;
    }

    .o-list-stacked.c-mobile-facet-list::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }

    .o-list-stacked.c-mobile-facet-list::-webkit-scrollbar {
      height: 6px;
      background-color: #F5F5F5;
    }

    .o-list-stacked.c-mobile-facet-list::-webkit-scrollbar-thumb {
      background-color: #999999;
    }

  }

  @media only screen and (min-width:739px) and (max-width:750px) {
    .o-layout .c-toolbar--position .c-mobile-listing__sort--flex-order {
      max-width: 40%;
    }

    .o-layout .c-toolbar--position .c-mobile-listing__pagination--flex-order {
      max-width: 60%;
    }

  }


/* Mobile Styles Start */
@media only screen  and (max-width:739px) {
  .c-mobile-facet--menu {
    width: 100% !important;
    overflow: auto;
    z-index: 10000;
  }

  .c-mobile-facet--menu .c-mobile-menu__close-icon:before {
    content: "X Close";
    display: block;
    color: #DC5757;
    padding-top: 6px;
    text-align: center;
    font-style: normal;
  }

  .c-mobile-facet--menu .c-mobile-menu__close-icon {
    width: 80px;
    left: -70px;
    height: 40px;
    top: 15px;
    border: solid 2px #e65050;
    border-radius: 5px;
    background: none !important;
    font-weight: bold;
  }

  .c-mobile-facet--menu .c-mobile-menu__close-icon:after {
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    width: 200%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
  }

  .c-mobile-facet--menu .open-mobile-facet-menu .c-mobile-menu__close-icon:after {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.6);
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 80%;
    opacity: 1;
  }

  .o-layout.u-flex-row.active {
    position: fixed;
    top: 65px;
    margin: 0;
    left: 0px;
    z-index: 4;
    background: white;
    width: 100%;
    border-bottom: solid 1px #ececec;
    border-top: solid 1px #ececec;
    padding: 10px;
    box-shadow: 0px -3px 10px #00000061;
  }

  .o-layout.u-flex-row.active > * {
    margin: 0px;
    padding: 0px;
    border-radius: 6px;
    overflow: hidden;
  }

  .o-layout.u-flex-row.active   .c-pagination {
    display: none;
  }

  .o-layout.u-flex-row.active > div > * {
    width: 96%;
    margin: 1%;
  }

  .c-mobile-facet-menu__header .c-mobile-facet-menu__title {
    height: 60px;
    line-height: 80px !important;
  }

  .c-mobile-menu--dropdown {
    background-size: 15px !important;
  }

  .c-checkbox-option--small .c-checkbox-option__text {
    font-size: 18px;
    margin-top: -5px !important;
    margin-bottom: 10px;
    display: inline-block;
  }

  .c-mobile-facet--menu .c-facet-list__facet-header {
    font-size: 18px;
  }

  .o-list-stacked.c-facet-list__list--scroll > li:first-child {
    border-top: solid 1px #e2e2e2;
  }

  .c-mobile-facet--menu li .o-list-stacked > li {
    border-bottom: solid 1px #e2e2e2;
    background: #fbfbfb;
    padding: 10px 10px 0px 10px;
    margin: 0px -10px 0px -10px;
  }

  .o-list-stacked.c-mobile-facet-list > li .c-facet-list__link {
    display: block;
    text-align: center;
    padding: 0px 0px 10px 0px;
  }

  .c-mobile-menu__footer--sticky {
    max-width: 80%;
  }

  .c-mobile-facet--menu .c-mobile-facet-menu__title {
    font-size: 20px;
  }

}
/* Mobile Styles End */

}
/* Left hand navigation re-style UK ONLY ENDS */
