////////////////////////////
//Top level banners styles//
///////////////////////////

/* Top level banners */

.bannercontainer {
    width: 100%;
    float: left;
    height: 180px;
    background-repeat: no-repeat;
}

.bannertext {
    color: white;
    text-transform: uppercase;
    text-align: left;
    font-size: 65px;
    margin-left: 3%;
    margin-top: 3%;
    letter-spacing: 3px;
}

.pageintro {
    float: left;
    text-align: left;
}

.s-text-banner {
    padding: 0;
}

.pageintro p {
    margin-bottom: 1%;
}

.pageintro h1{
  text-transform: uppercase;
  margin: 0.5% 0 0 0;
}

.menscatheader {
    color: #2F3051; 
    text-align: left;   
}

.kidscatheader {
    color: #9CAC25;
    text-align: left;
}

.womenscathead {
    color: #FF685D;
    text-align: left;
}

.seo_container,
.pageothertext {
    width: 100%;
    max-width: 1228px;
    margin: 0 auto;
    text-align: left;
}

.banner__title,
.banner__text,
.s-text-banner p {
    text-align: left;
}

.banner__title {
    color: #6792C8;
}

.banner__title.mens {
    color: #2F3051;
}

.banner__title.womens {
  color:#FF685D;
}

.banner__title.kids {
  color:#9CAC25;
}

.banner__title.camping{
  color:#ffd35e; 
}

.bannertext.footwearacc {
  font-family: 'poppinsregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: left;
  font-size: 42px;
  margin-left: 4%;
  margin-top: 3.8%;
  letter-spacing: 3px;
  width: 32%;
  line-height: 1.2;
}

.banner__text,
.banner__title {
  max-width: 1228px;
  margin: 0 auto;
}

.js-fredhopper-fredhopper-hero-wrapper-placeholder .o-region__inner  {
  width: 100% !important;
}

.s-text-banner {
  width: 100%;
}

.bannercontainer {
  width: 100%;
  height: auto !important;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  margin-bottom: 15px;
  background-position: center;
}

.plp-header {
  width: 1228px;
  margin: 0 auto;
  text-align: left;
  padding: 62px 0;
  font-family: "Garamond-Regular";
  text-transform: uppercase;
  color: #fff !important;
}

.plp-header h1 {
  color: #fff !important;
  font-size: 44px !important;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.bannercontainer.mens {
  background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/mens/MensDesktop.jpg");
}
.bannercontainer.womens {
  background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/womens/WomensDesktop.jpg");
}
.bannercontainer.kids {
  background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/kids/KidsDesktop.jpg");
}
.bannercontainer.footwear {
  background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/equipment/EquipmentDesktop.jpg");
}
.bannercontainer.craghoppers {
  background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/brands/CraghoppersDesktop.jpg");
  background-position: left;
}
.bannercontainer.dare2b {
  background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/brands/Dare2bDesktop.jpg");
  background-position: left;
}
.bannercontainer.regatta {
  background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/brands/RegattaDesktop.jpg");
  background-position: left;
}
.bannercontainer.lowa{
  background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/brands/LowaDesktop.jpg");
  background-position: left;
}
.bannercontainer.lomer{
  background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/Lomer-TopLevelCat.jpg");
}
.bannercontainer.superfeet{
  background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/Superfeet-TopLevelCat.jpg");
}
.bannercontainer.kidsschool{
  background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/BTS-TopLevel.jpg");
}

@media only screen and (max-width: 1228px){
  
  .bannercontainer.mens {
  background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/mens/MensTablet.jpg");
  }
  .bannercontainer.womens {
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/womens/WomensTablet.jpg");
  }
  .bannercontainer.kids {
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/kids/KidsTablet.jpg");
  }
  .bannercontainer.footwear {
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/equipment/EquipmentTablet.jpg");
  }
  .bannercontainer.craghoppers {
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/brands/CraghoppersTablet.jpg");
  }
  .bannercontainer.dare2b {
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/brands/Dare2BTablet.jpg");
  }
  .bannercontainer.regatta {
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/brands/RegattaTablet.jpg");
  }
  .bannercontainer.lowa{
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/brands/LowaTablet.jpg");
  }
  .bannercontainer.lomer{
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/Lomer-TopLevelCat-Tablet.jpg");
  }
  .bannercontainer.superfeet{
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/Superfeet-TopLevelCat-Tablet.jpg");
  }
  .bannercontainer.kidsschool{
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/BTS-TopLevel-Tablet.jpg");
  }

  .banner__title,
  .banner__text {
    padding: 0 10px;
  }

  .plp-header {
    width: 100%;
    padding: 62px 0 62px 10px;
    letter-spacing: 1px;
  }

  .plp-header h1 {
    font-size: 30px !important;
    letter-spacing: 1px;
  }

  .bannercontainer {
    min-height: 150px;
    margin-bottom: 0;
  }
  
}


@media only screen and (max-width: 1024px) {
  .bannercontainer {
      display: block !important;
   }
}


@media only screen and (max-width: 700px){
  
  .bannercontainer.mens {
  background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/mens/MensMobile.jpg");
  }
  .bannercontainer.womens {
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/womens/WomensMobile.jpg");
  }
  .bannercontainer.kids {
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/kids/KidsMobile.jpg");
  }
  .bannercontainer.footwear {
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/equipment/EquipmentMobile.jpg");
  }
  .bannercontainer.craghoppers {
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/brands/CraghoppersMobile.jpg");
  }
  .bannercontainer.dare2b {
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/brands/Dare2BMobile.jpg");
  }
  .bannercontainer.regatta {
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/brands/RegattaMobile.jpg");
  }
  .bannercontainer.lowa{
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/brands/LowaMobile.jpg");
  }
  .bannercontainer.lomer{
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/Lomer-TopLevelCat-Mobile.jpg");
  }
  .bannercontainer.superfeet{
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/Superfeet-TopLevelCat-Mobile.jpg");
  }
  .bannercontainer.kidsschool{
    background-image: url("https://cdn.hawkshead.com/img/AW18/cat/top_level_banners/BTS-TopLevel-Mobile.jpg");
  }

  .plp-header {
    width: 100%;
    padding: 9% 20% 12% 10px;
  }

  .plp-header h1 {
    font-size: 22px !important;
    letter-spacing: 1px;
    line-height: 26px;
    max-width: 300px;
  }

  .bannercontainer {
    min-height: 130px;
  }
  
}


