/* Generic stuff that can be used on any/every CMS page */

html {
    font-family: $osreg;
}

.cms-index-index .main-container {
   	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
   	max-width: 100%;
   	width: 100%;
}

.cms-index-index .main-container * {
   	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
  	box-sizing: inherit;
}

.cms-index-index .breadcrumbs {
	display: none;
}

.u-lastElement {
	margin-bottom: 2vw;
}
 
/* Generic Layout */

.pageSection,
.pageSection__constraint {
   margin: 0 auto 2vw;
   max-width: 1140px;
}

.pageSection--fullWidth {
   max-width: 100%;
   width: 100%;
   float: left;
}

@media screen and (max-width: 1174px) {

   	.pageSection,
	.pageSection__constraint {
	    padding: 0 1vw;
	}

	.pageSection--fullWidth {
		padding: 0;
	}

}

.pageSection__title {
   letter-spacing: 2px;
   margin-bottom: 2vw;
   padding: 0;
   text-align: center;
   font-size: 17px;
   clear: both;
}


/* Generic Banner */

.pageBanner {
   	float: left;
   	position: relative;
}

.pageBanner__image {
	width: 100%;
}

.bannerOverlay {
	color: #fff;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bannerOverlay--black {
  color: #000;
}

.bannerOverlay__block {
	display: table;
  height: 100%;
  width: 100%;
}

.bannerOverlay__contentArea {
   	display: table-cell;
   	height: 100%;
   	text-align: center;
   	vertical-align: middle;
}

.bannerOverlay__contentArea--ctaOnly {
	vertical-align: bottom;
	padding-bottom: 5%;
}

.bannerOverlay__contentArea--slider {
	vertical-align: bottom;
	padding-bottom: 5%;
}

.bannerOverlay--isHover {
   	display: none;
}

.isTouch .bannerOverlay--isHover {
	display: block;
}

.pageBanner:hover .bannerOverlay--isHover {
   display: block;
}

@media screen and (max-width: 1024px) {

	.bannerOverlay--isHover {
	   display: block;
	}

}

.bannerOverlay__contents--isHover {
	background-color: rgba(0,0,0,0.2);
	padding: 1.2vw 0;
}

@media screen and (max-width: 740px) {

	.bannerOverlay__contentArea--slider {
		vertical-align: middle;
	}

	.column ul {
    	list-style-type: none;
	}
	
}

@media screen and (max-width: 600px) {

	.bannerOverlay__contents--isHover {
		padding: 1.4vw 0;
	}
}

@media screen and (max-width: 480px) {

	.bannerOverlay__contents--isHover {
		padding: 2vw 0;
	}
}

.bannerOverlay__title {
   margin-bottom: 0;
   padding: 0;
   color: #fff;
}

.bannerOverlay__subTitle {
   font-family: 'montserratregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 400;
   text-transform: none;
   line-height: 1;
   margin-bottom: 0;
   margin-top: .4vw;
   color: #fff;
}

.bannerOverlay__text {
	font-family: 'montserratlight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 1.2vw;
   margin-bottom: 0;
   margin-top: 1vw;
   color: #fff;
}

.c-header-search__suggestions {
    z-index: 9;
}

@media screen and (max-width: 1180px) {

	.bannerOverlay__text {
		font-size: 1.3vw;
	}
}

@media screen and (max-width: 960px) {

	.bannerOverlay__text {
		font-size: 1.4vw;
	}
}

@media screen and (max-width: 800px) {

	.bannerOverlay__text {
		font-size: 1em;
	}
}

.bannerOverlay__cta {
   background-color: rgba(255,255,255,0.5);
   border: 1px #fff solid;
   color: #000;
   display: inline-block;
   font-family: 'montserratregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 1.2vw;
   line-height: .8;
   margin: 3vw 1vw 0 0;
   padding: 1vw 2vw;
   text-transform: uppercase;
   vertical-align: middle;
}

@media screen and (min-width: 1200px) {

	.bannerOverlay__cta {
	   font-size: 14px;
	   padding: 12px 24px;
	}
}

@media screen and (max-width: 960px) {

	.bannerOverlay__cta {
		font-size: 1.4vw;
	}
}

@media screen and (max-width: 680px) {

	.bannerOverlay__cta {
		font-size: 1em;
	}
}

.bannerOverlay__cta:last-child {
   margin-right: 0;
}

.bannerOverlay__cta:hover {
    background-color: #000;
   color: #fff;
   text-decoration: none;
}

.bannerOverlay__cta--black {
   color: #000;
   border-color: #000;
}

.bannerOverlay__cta--black:hover {
   background-color: rgba(0,0,0,0.4);
   color: #fff;
}


.standAloneCtas {
	margin: 2vw 0;
	text-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
  	justify-content: center;
}

.standAloneCtas__cta {
   border: 2px #9e9e9e solid;
   display: inline-block;
   font-family: 'montserratbold', 'Arial Black', Gadget, Helvetica, Arial, sans-serif;
   font-size: 1vw;
   line-height: .9;
   margin: 0 2vw 0;
   padding: 1vw 2vw;
   text-transform: uppercase;
   vertical-align: middle;
   -webkit-box-flex: 0 1 25%;
  -moz-box-flex:  0 1 25%;
  -webkit-flex:  0 1 25%;
  -ms-flex:  0 1 25%;
   flex: 0 1 25%;
}

.standAloneCtas__cta--single {
		-webkit-box-flex: 0 1 36%;
		-moz-box-flex:  0 1 36%;
		-webkit-flex:  0 1 36%;
		-ms-flex:  0 1 36%;
		flex: 0 1 36%;
	}

@media screen and (min-width: 1200px) {

	.standAloneCtas__cta {
	   font-size: 16px;
	   padding: 12px 24px;
	}
}

@media screen and (max-width: 1199px) {

	.standAloneCtas__cta {
		font-size: 1.3vw;
	}
}

@media screen and (max-width: 980px) {

	.standAloneCtas__cta {
		font-size: 1.5vw;
	}
}

@media screen and (max-width: 800px) {

	.standAloneCtas__cta {
		font-size: 1.1em;
		line-height: 1;
	}

	.standAloneCtas__cta--single {
		-webkit-box-flex: 0 1 58%;
		-moz-box-flex:  0 1 58%;
		-webkit-flex:  0 1 58%;
		-ms-flex:  0 1 58%;
		flex: 0 1 58%;
	}
}

@media screen and (max-width: 600px) {

	.standAloneCtas__cta {
		-webkit-box-flex: 0 1 34%;
		-moz-box-flex:  0 1 34%;
		-webkit-flex:  0 1 34%;
		-ms-flex:  0 1 34%;
		flex: 0 1 34%;
	}

	.standAloneCtas__cta--single {
		-webkit-box-flex: 0 1 64%;
		-moz-box-flex:  0 1 64%;
		-webkit-flex:  0 1 64%;
		-ms-flex:  0 1 64%;
		flex: 0 1 64%;
	}
}

@media screen and (max-width: 400px) {

	.standAloneCtas__cta {
		-webkit-box-flex: 0 1 44%;
		-moz-box-flex:  0 1 44%;
		-webkit-flex:  0 1 44%;
		-ms-flex:  0 1 44%;
		flex: 0 1 44%;
	}

	.standAloneCtas__cta--single {
		-webkit-box-flex: 0 1 64%;
		-moz-box-flex:  0 1 64%;
		-webkit-flex:  0 1 64%;
		-ms-flex:  0 1 64%;
		flex: 0 1 64%;
	}
}

.standAloneCtas__cta:last-child {
   margin-right: 0;
}

.standAloneCtas__cta:hover {
   background-color: #9e9e9e;
   color: #fff;
   text-decoration: none;
}

.pageTextBlock__text {
	font-family: 'montserratregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.4em;
}

@media screen and (max-width: 800px) {

	.pageTextBlock__text {
		font-size: 1.2em;
	}
}



/* Section Specific */



/* Highlights */

.pageSection--highlights__column {
   float: left;
   margin-right: 1%;
   width: 49.5%;
}

@media screen and (max-width: 480px) {

	.pageSection--highlights__column {
	   float: left;
	   margin: 0;
	   width: 100%;
	}

}

.pageSection--highlights__column--last {
   margin-right: 0;
}

.pageBanner--highlights {
   margin-bottom: 2%;
   width: 100%;
}

.bannerOverlay__title--highlights {
   font-size: 2.4vw;
   letter-spacing: 3px;
}

@media screen and (min-width: 1140px) {

	.bannerOverlay__title--highlights {
		font-size: 28px;
	}
}

@media screen and (max-width: 680px) {

	.bannerOverlay__title--highlights {
		font-size: 3vw;
	}
}

@media screen and (max-width: 560px) {

	.bannerOverlay__title--highlights {
		font-size: 1.4em;
	}
}

@media screen and (max-width: 480px) {

	.bannerOverlay__title--highlights {
		font-size: 2em;
	}
}

.bannerOverlay__subTitle--highlights {
   font-size: 1.6vw;
   letter-spacing: 1px;
}

@media screen and (min-width: 1140px) {

	.bannerOverlay__subTitle--highlights {
		font-size: 20px;
	}
}

@media screen and (max-width: 980px) {

	.bannerOverlay__subTitle--highlights {
		font-size: 1.8vw;
	}
}

@media screen and (max-width: 840px) {

	.bannerOverlay__subTitle--highlights {
		font-size: 2vw;
	}
}

@media screen and (max-width: 680px) {

	.bannerOverlay__subTitle--highlights {
		font-size: 14px;
	}
}

/* Basket */
.basket__delivery {
	float: left;
	width: 80%;
	border: 1px solid black;
	padding: 15px;
}

.basket__delivery li:nth-child(2n+1) {
	width: 51%;
	float: left;
	padding-top: 10px;
}

.basket__delivery li:nth-child(2n) {
	text-align: right;
	width: 49%;
	float: right;
	padding-top: 6px;
}

.basket__delivery ul {
	margin: 0;
	list-style-type: none;
	float: left;
	width: 100%;
	border-top: 1px solid;
}

.divclear {
	clear: both;
}

.basket__delivery p {
	float: left;
	width: 100%;
}

.delivery__header {
	text-align: center;
	margin-bottom: 1.5%;
	text-transform: uppercase;
}

@media only screen and (max-width:770px) {
	.c-basket__header .btn-paypal {
	    padding-left: 0;
	}
}

@media only screen and (max-width:740px) {
	.basket__delivery {
		width: 100%;
		margin-bottom: 3%;
	}

}

/* 404 page */

.lostYourWay {
	background: url('//d1khwdv4lze0nb.cloudfront.net/images/SS17/DesktopLost_1140x529px.jpg') no-repeat right;
	background-size: cover;
	width: 100%;
	padding: 8% 50% 8% 5%;
	color: #fff;
	font-size: 1.1em;
	letter-spacing: .5px;
}

.lostYourWay h2 {
	color: #fff !important; /* having to use important here due to overly specific styles declared in the theme css */
	margin-bottom: 1em;
}

.lostYourWay__strap {
	font-size: 1.2em;
}

.lostYourWay ul {
	list-style: none outside;
}

.lostYourWay li,
.lostYourWay li a {
	color: #fff !important; /* having to use important here due to overly specific styles declared in the theme css */
	font-size: 1em !important;
}

@media screen and (max-width:940px) {
	.lostYourWay {
		padding-right: 40%;
	}

}

@media screen and (max-width:740px) {
	.lostYourWay {
		background: url('//d1khwdv4lze0nb.cloudfront.net/images/SS17/MobileLost_954x532px.jpg') no-repeat right;
		background-size: cover;
		padding: 5%;
	}

	.lostYourWay .bannerOverlay__cta {
		padding: 3%;
		font-size: .9em;
	}

	.column--footer ul {
	    display: none;
	}

	.column--footer ul.toggleSub {
    	display: block;
	}

	.column--footer p {
    	font-size: 14px !important;
	}

	.column--footer p:before {
	    content: ' ';
	    border-style: solid;
	    border-width: 7px 7px 0 7px;
	    border-color: #afafaf transparent transparent transparent;
	    float: right;
	    margin-top: 1.5%;
	}

}

.c-footer__social {
	padding:30px 0 20px 0;
}

/* Banner/SEO */
.s-text-banner {
    padding: 0;
    overflow: unset !important;
}

.s-text-banner h1{
	font-weight:700;
}

/* SEO styles */
.pageothertext,
.s-text-banner {
    width: 100%;
    margin: 0 auto; 
    text-align: left;
    max-width: 100% !important;
}
/* END */

.bannerOverlay__cta--SaleBttn:hover {
    background: #ff0000;
}

/* Competition Form */
.cms-competition-form .toggles label,
.cms-competition-form .toggles select {
    width: 100%;
}

.cms-competition-form .redeye-form .input-box {
	float: left;
	width: 100%;
	margin-top: 0;
}

.cms-competition-form .redeye-form .input-box input.input-text {
    width: 100% !important;
}
.competitionterms {
	margin-top: 1%;
	border: 1px solid;
	padding: 1%;
	margin-bottom: 1%;
}

.competitionterms h3{
	margin:0;
	font-weight: bold;
	cursor: pointer;
}

.competitionterms--card {
    display: none;
}

.competitionterms--card.topen {
    display: block;
	margin-top:0.5%;
}

.competitionterms h3:after {
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #000 transparent transparent transparent;
    content: '';
    float: right;
    margin-top: 0.5%;
}
.competitionterms h3.topen:after{
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #000 transparent;
	content: '';
    float: right;
    margin-top: 0.5%;
}


.competition__container p{
	width: 100% !important;
	margin-top: 2%;
}

.competition__container .competitionterms--card p{
	margin: 0;
}

/* END */

/* No Results */
.noresultbanner {
    background-image: url(https://cdn.craghoppers.com/img/SS17/UK/page/no_results/NoResults_1268x311px.jpg);
    background-size: cover;
    padding: 4%;
    text-align: center;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(255,255,255,0.2);
}

.noresults__suggestions ul {
    list-style-type: none;
    margin: 0;
}

.noresultscontainer {
    text-align: center;
    margin-top: 1%;
}

.noresultscontainer__nav a {
    display: inline-block;
    width: 24.5%;
    text-align: center;
    border: 1px solid #000;
    padding: 0.5% 0;
    text-decoration: none; 
    text-transform: uppercase;
    font-weight: 700;
}

.noresultscontainer__nav a:hover {
    background: #000;
    color: #fff;
} 

@media only screen and (max-width:480px){
	.noresultscontainer__nav a {
	    width: 49%;
	    margin-top: 0.7%;
	}
}

@media only screen and (max-width:400px){
	.noresultscontainer__nav a {
	    width: 100%;
	}
}
/* END */

@media screen and (max-width: 770px) {
	.c-accordion__content {
		height: 70px;
	}
}

.c-input-wrap.c-input-wrap--icon-right {
	padding-top: 16px;
}

.c-header-search .c-input-wrap__icon {
	top: 18px;
}

.c-mini-cart {
	padding-top: 27px;
}

.c-mini-cart__drop-down {
	top: 65px;
}

@media only screen and (max-width:500px){
	.c-mini-cart {
    	padding-top: 0;
	}
}

/*basket start*/
.c-basket-checkout__shipping-price,
.c-basket-checkout__subtotal-price,
.c-basket-checkout__total-price {
	margin-right: 0px;
}

.c-basket__subtotal {
	float: right;
}

.o-layout__item:nth-child(4) {
	text-align: right;
}

.c-basket__continue-shopping {
	float: left;
}

.c-basket__content .o-layout__item:nth-child(3) {
	padding-left: 48px !important;
}

.c-basket__remove {
	padding-left: 48px;
}

.o-layout__item:nth-child(2) {
	padding-left: 20px;
}

.c-basket__continue-shopping {
	float: left;
	margin-left: -72px;
	background: #343334;
	color: #fff !important;
	padding: 5px 20px 4px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 1.33333;
	border: 2px solid #343334;
}

@media screen and (max-width:740px) {
	div#cart {
	    padding: 0 10px;
	}

	.o-layout__item.btn-checkout {
	    padding-left: 0;
	}
}

/* END */

/* Footer payment logos */
.c-footer__payment-icons {
	background-image: url(https://cdn.craghoppers.com/img/SS17/UK/misc/logos/payment-options.png);
}
/* END */

/* social icons */
@media screen and (max-width:770px) {
	.s-footer-links-social .c-icon--facebook,
	.s-footer-links-social .c-icon--google,
	.s-footer-links-social .c-icon--instagram,
	.s-footer-links-social .c-icon--twitter,
	.s-footer-links-social .c-icon--youtube {
		margin: 0 10px 0 0;
	}

}
/* END */

/* feefo */
h4.c-feefo__titl {
	color: #fff;
	margin-bottom: 0;
}

.c-footer .c-feefo {
    width: 140px;
    padding: 35px 15px 4px;
    background-position: 35px 10px;
    background-size: 60%;
    margin: 0;
    margin-left: 7%;
}

p.c-feefo__percentage {
    font-size: 30px;
}

@media only screen and (max-width:770px) {
	.c-feefo {
		margin: 0px 0 20px 0;
	} 

	.s-footer-links-social h4 {
    	padding-left: 11%;
	} 

}

@media screen and (max-width:500px) {
	body .c-feefo {
		background-size: 80px;
		padding: 0;
		min-height: 42px;
		background-position: left 15px center;
		margin: 7px 0px;
		position: relative;
	}

	.c-feefo h4.c-feefo__titl {
		display: none;
	}

	.c-feefo .c-feefo__percentage {
		font-size: 20px;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	.c-feefo__subtitle {
		position: absolute;
		bottom: -23px;
		right: 0;
		left: 0;
		color: #424243;
	}

	.c-footer .c-feefo {
		width: 165px;
		padding: 5px 5px 4px;
		background-position: 15px 10px;
		background-size: 50%;
		margin: 0;
		margin-left: 7%;
	}

}

/* END */

/* Main Nav */
.s-main-menu .categories>li>a:active,
.s-main-menu .categories>li>a:focus,
.s-main-menu .categories>li>a:hover,
.s-main-menu .categories>li>a:visited {
	text-decoration: underline;
}

.s-main-menu .mm__column.mm-outlet {
    float: right;
}

.s-main-menu .block .category-items {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Clearance Nav */
.dropdown.clearance a {
    color: #fff !important;
    background: #880015;
    padding: 10px !important;
}

@media only screen and (max-width: 650px){
	.dropdown.clearance a {
	    padding: 15px 0 !important;
	    padding-left: 10px !important;
	    margin-left: 0 !important;
	}
}
/* END */

/* store finder */
.c-store-list__title {
	color: #343334;
}

a.c-store-list__details {
	padding: 0 0 0 25px;
	color: #5f5f5e;
}

.c-store-list__distance {
	color: #5f5f5e;
	padding: 0 0 0 25px;
}

.c-store-list__address {
	width: 100%;
	font-size: 1.08rem;
}

.c-store-list__header {
	color: #343334;
}

.c-btn--alternate {
	background: #5f5f5e;
	border-color: #5f5f5e;
}
/* END */

/* ios input */
@media only screen and (max-width:1024px) {
	input#search.c-input.c-header-search__input,
	input#newsletter.c-input-combined__input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}
/* END */

/* Search Clear fix */
.c-header-search .c-input-wrap__clear {
    top: 25px;
}

.c-header-search__suggestions {
    top: 57px;
}
/* END */ 

/* Account Style */
.account.sales-order-view .box-order-billing-method {
    display: none;
}
/* END */
/* show/hide copy within container */
@media only screen and (min-width:601px){
	.copy-toggle-button{
		display:none;
	}
	.copy-toggle {
    	height: auto !important;
	}
}
.copy-toggle{
	height:95px;
	overflow: hidden;
}
.copy-toggle.active {
    height: auto;
}
.copy-toggle-button {
    background: #000;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: 120px;
    padding: 0.5% 0;
}
/* END */

/* Store locator */
.c-store-list__item:nth-child(odd) {
    background: #f7f7f7 !important;
}
.c-store-list__item {
    text-align: left;
    border-bottom: 1px solid;
    padding: 2.6% 1%;
    margin-bottom:0 !important;
}
.c-store-list__title {
    text-align: left;
}
/* END */

/* USP */
.generic-usp {
    text-align: center;
    padding: 0.4% 0;
    background: #8f9eab; /* background colour */
    color: #fff !important; /* font colour */
  	text-transform: uppercase;
    letter-spacing: 0.6px;
}

.generic-usp .pipe {
    margin: 0 0.5%;
}

.generic-usp a {
    color: #fff !important;
}

.generic-usp a:hover {
    color: #fff !important;
  text-decoration:underline;
}

.generic-usp div {
    display: inline;
}

@media only screen and (max-width:1024px){
  .generic-usp a {
    font-size:13px;
  }
}

@media only screen and (max-width:650px){
  .generic-usp {
    margin-top: 46px;
  }
}

@media only screen and (max-width:500px){
	.generic-usp {
	    margin-top: 19px;
	}
}

@media only screen and (max-width:426px){
	.generic-usp div {
	    display: block;
	}
}
/* END */

/* FOOTER */
#footer .s-footer-links > div {
	width: 18.5%!important;
	padding-bottom: 15px;
}
.s-footer-links-social {
    margin-left: -3px;
}
ul.follow-us {
	padding-top: 15px;
}
.footerHeader{
	display:block;
}
.footerHeaderMobile{
	display:none;
}

.s-footer-links .column p {
    font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 35px;
    margin-bottom: 0;
    color: #343334;
}

.s-footer-links .column p a {
    font-size: 14px !important;
}


@media only screen and (max-width:740px){
	.column.column--footer h4.active + ul.active {
	    display: block;
	}
	.footerHeader{
		display:none;
	}
	.footerHeaderMobile{
		display:block;
	}
}

/* END */



/* REGISTER GUARANTEE FORM */
.guaranteehead {
    padding-top: 3%;
}
span.requiredfield {
    display: inline-block;
}
/* END */

/* Hide tracking img/iframe after footer */
div#footer ~ img,
div#footer ~ iframe {
    position: absolute;
    left: -999px;
    top: -999px;
}
/* END */

/* Cookie Policy Bar */
#notice-cookie-block .content {
    background: rgba(26, 67, 71, 1);
    position: fixed;
    width: 100%;
    z-index: 9;
    text-align: center;
    padding: 10px;
    bottom:0;
}

#notice-cookie-block .content > p {
    font-size: 0px;
    margin: 0px;
}

#notice-cookie-block .content a {
    margin-top: -10px;
    line-height: 17px;
}

#notice-cookie-block .content * {
    display: inline-block;
    color: #ffffff;
}

#notice-cookie-block a:after {
    content: "Craghoppers use cookies to ensure that we give you the best experience on our website. Learn more about our cookies here.";
    font-size: 15px;
    display: block;
}

button#btn-cookie-allow {
    background: transparent;
    border: 1px solid;
}
/* END Cookie Policy Bar */

/* Remove Currency Converter START */

li#switcher-currency-nav {
    display: none;
}

/* Remove Currency Converter END */

/* Footer Updates */
.c-feefo {
	display: none !important;
}

/* Newsletter sign up */
.c-footer__social {
    display: none !important;
}
/* Newsletter sign up END */

.s-footer-links-social .c-icon--facebook,
.s-footer-links-social .c-icon--google,
.s-footer-links-social .c-icon--instagram,
.s-footer-links-social .c-icon--twitter,
.s-footer-links-social .c-icon--youtube {
	width: 25px;
	height: 25px;
	margin: 0;
}

.follow-us li {
	margin: 0 0 0 20px;
}

.follow-us li:first-of-type {
	margin: 0;
}

.c-footer__payment-icons {
	background-image: url(https://cdn.craghoppers.com/img/SS18/UK/misc/footer/cardPayments.png);
	background-size: contain;
}

.c-footer__links {
	padding: 20px 0 0;
}

.c-footer__social {
	padding: 20px 0 10px 0;
}

.c-footer__header {
	margin-bottom: 1%;
}

.s-footer-links {
	float: right;
	width: 75%;
}

#footer .s-footer-links > div {
	width: 25% !important;
}

.footerMouflon {
	width: 100%;
	max-width: 30px;
}

.brandCopyright {
	font-size: 12px;
	margin: 68px 0 1% 0;
}

.c-footer__copyright .o-layout__item:nth-child(3) {
	float: right;
}

.s-footer-links-social p.socialFollow {
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
	font-size: 14px;
	min-height: 35px;
	color: #343334;
	margin: 0;
	text-transform: capitalize;
}

.follow-us {
	padding-top: 0 !important;
}

.s-footer-links-social {
	margin-left: 0;
}

.c-footer__social {
	background-color: #f3f3f3;
}

.c-footer {
	background-color: #fff;
}

.c-footer__signup {
	margin: 0 auto;
	float: none;
}

h3.c-footer__header {
	text-align: center;
}

.footerMobile {
	display: none;
}

.c-footer__copyright .o-layout__item:nth-child(2) {
    display: none !important;
}

@media only screen and (max-width:989px) {
	.s-footer-links-social .c-icon--facebook,
	.s-footer-links-social .c-icon--google,
	.s-footer-links-social .c-icon--instagram,
	.s-footer-links-social .c-icon--twitter,
	.s-footer-links-social .c-icon--youtube {
		margin: 0 auto;
	}

	.c-footer__links .column.column--footer:last-of-type {
		padding-bottom: 1% !important;
	}

	.s-footer-links-social {
		margin: 10px 0 12px 0;
		margin-left: 0 !important;
		text-align: right;
	}

	.c-footer__links .o-layout .o-layout__item {
		width: 100% !important;
	}

	.c-footer__payment-icons {
		background-position: center;
	}

	#footer .s-footer-links > div {
		width: 25% !important;
	}

	.s-footer-links {
		float: left;
		width: 100%;
	}

	.s-footer-links-social {
		border-top: 1px solid #e6eff2;
		padding-top: 10px;
		text-align: left;
	}

	.footerMouflon {
		float: left;
		margin-top: 7px;
	}

	.brandCopyright {
		float: right;
		margin: 1% 0 1% 0;
	}

	.follow-us {
		padding-top: 0 !important;
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.c-footer__copyright .o-layout__item:nth-child(2) {
		width: 18% !important;
	}

	.c-footer__copyright .c-footer__payment-icons {
		width: 100%;
	}

	.c-footer__copyright .o-layout__item:nth-child(1) {
	    width: 50% !important;
	}

	.c-footer__copyright .o-layout__item:nth-child(3) {
		float: right;
		width: 50% !important;
	    padding: 0;
	}

	.s-footer-links-social p.socialFollow {
		min-height: auto;
		margin-bottom: 1%;
	}	

	.s-footer-links-bottom ul li {
	    margin-right: 9%;
	}

	.s-footer-links-bottom ul li:last-of-type {
	    margin-right: 0;
	}

	.s-footer-links-bottom--close a {
	    margin-left: 0;
	}

	.s-footer-links-bottom ul {
	    width: 100%;
	}

}

@media only screen and (max-width:740px) {
	
	.footerMobile{
		display: block;
	}

	.column--footer ul.active {
		display: block;
		margin-left: 0;
	}

	.c-footer__links .o-region__inner .o-layout {
		border-top: 1px solid #e6e6e6;
		margin-left: 0;
	}

	.c-footer__links .o-region__inner .o-layout:first-of-type {
		border: 0;
	}

	.c-footer__signup.c-accordion.o-layout__item {
		margin-top: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #e6e6e6;
	}

	.c-footer__header {
		margin-bottom: 1%;
		padding-top: 1%;
		text-align: center;
	}

	.c-footer__social {
		padding: 0;
	}

	.c-footer__signup .c-accordion__content {
		height: auto;
		padding: 1% 10px 3% 10px;
		display: block !important;
	}

	.c-input-combined__input-wrapper {
		padding-bottom: 0;
	}

	.c-footer__links .o-layout .o-layout__item {
		padding-left: 0;
	}

	.c-footer__header .c-icon--down,
	.c-footer__header .c-icon--up {
		display: none;
	}

	.footerHeaderMobile.active {

		/*border-bottom: 1px solid #e6e6e6;*/
		text-decoration: underline;
	}

	.column--footer p:before {
		transition: all 1s;
		-webkit-transition: all 1s;
	}

	.column--footer p.active:before {
		transform: rotate(180deg);
		transition: all 1s;
		-webkit-transition: all 1s;	    /*border-style: solid;
		border-width: 0 7px 7px 7px;
		border-color: transparent transparent #afafaf transparent;*/
	}

	.c-accordion__content input#newsletter {
		font-size: 12px;
	}

	.footerMouflon {
		float: none;
		margin: 0 auto;
		display: block;
		margin-bottom: 1%;
	}

	.brandCopyright {
		float: none;
		text-align: center;
		margin: 3% 0 0 0;
	}

	.s-footer-links-social {
		border-top: none;
		margin: 12px 0;
		padding: 0;
	}

	.follow-us {
		width: 50%;
		float: none;
		border-top: none;
		padding: 2% 0 0 0 !important;
		margin: 0 auto !important;
	}

	.follow-us li {
		margin: 0;
	}

	.c-footer__payment-icons {
		display: none;
	}

	.c-footer__copyright .o-layout {
		margin: 0;
	}

	.s-footer-links-social p.socialFollow {
		text-align: center;
	}

	.c-footer {
		padding: 0;
	}

	.c-footer__links {
		padding: 20px 10px 10px 10px;
	}

	.c-footer__copyright {
	    border-top: 0;
	}

	.c-footer__copyright .o-layout__item:nth-child(1),
	.c-footer__copyright .o-layout__item:nth-child(3) {
		width: 100% !important;
	}

	.c-footer__copyright .o-layout__item:nth-child(3) {
	    margin-bottom: 2%;
	}

}

@media only screen and (max-width:500px){
	#footer .s-footer-links > div {
		width: 100% !important;
		padding-bottom: 0;
	}
}

/* Footer Updates END */

/* Header Updates */
@media only screen and (min-width:760px) {

	#header{

		/* Search update */
		.c-header-search .c-header-search__input {
			border-radius: 7px !important;
		}

		.c-header-search .c-input-wrap__icon {
			top: 2px !important;
			border-radius: 30px !important;
			right: 7px;
		}

		.c-input-wrap.c-input-wrap--icon-right {
			padding-top: 0 !important;
			margin-bottom: 0 !important;
		}

		.c-mini-cart {
			padding-top: 0 !important;
		}

		.c-header-search .c-input-wrap__clear {
			top: 9px !important;
		}

		.c-mini-cart-btn__price:after {
			display: none;
		}

		.o-layout__item .o-layout:nth-child(2) .o-layout__item:nth-child(1) {
			width: 60% !important;
			padding-left: 0% !important;
		}

		.o-layout__item .o-layout:nth-child(2) .o-layout__item:nth-child(2) {
			width: 40% !important;
			padding-left: 0%;
		}

		.o-layout__item .o-layout:nth-child(2) .c-header-search__suggestions-column.o-layout__item {
			padding-left: 0 !important;
			width: 50% !important;
		}

		.o-layout__item .o-layout:nth-child(2) .c-header-search__column.o-layout__item {
			width: 50% !important;
		}

		.o-layout__item:nth-child(2) .o-layout.o-layout--collapsed {
			width: 100%;
		}

		/* Search update END */
		.c-header__logo {
			padding-top: 10px !important;
		}

		.s-header-links {
			padding-top: 10px !important;
		}

		ul.header.links li:first-of-type {
			display: none !important;
		}

		ul.header.links li a,
		li.greet.welcome .or {
			font-size: 14px !important;
		}

		/*.s-header-links .links>li:nth-child(3) {
			padding-left: 2px;
			width: 10%;
		}

		.s-header-links .links>li:last-child {
			padding-left: 0px;
		}*/

		.c-header-search .c-header-search__input::placeholder {
			font-size: 14px;
			padding-left: 5px;
		}

		span.welcome-name {
			font-size: 14px;
			//padding: 0 5%;
			display: inline-flex;
		}

		.c-mini-cart-btn__items {
			padding-right: 0;
		}

		.o-layout__item:nth-child(2) .o-layout.o-layout--collapsed p.o-layout__item {
			width: 50% !important;
			padding: 0 !important;
		}

		/*.authorization-link a[data-bind="visible: !isLoggedIn()"]:after {
			background: url(https://cdn.craghoppers.com/img/SS18/UK/misc/header/user_account.svg);
			background-size: contain;
			background-repeat: no-repeat;
			display: block;
			content: '';
			width: 20px;
			height: 20px;
			float: right;
		}*/

		.authorization-link a:nth-child(2) {
			margin-right: 13%;
		}

		.c-mini-cart__drop-down {
			top: 38px;
		}

		/*.c-mini-cart.c-mini-cart--fixed.is-active {
		    top: 98px !important;
		}*/
		.c-mini-cart.c-mini-cart--fixed.is-active {
		    top: 45px !important;
		}
		.c-mini-cart.minicart-wrapper.is-active.c-mini-cart--fixed .c-mini-cart__drop-down {
		    //left: -318px;
		    max-width: 500px;
		}

		ul.header.links.isLoggedIn li:first-of-type {
		    display: inline-block !important;
		}

		.s-header-links .links.isLoggedIn > li:nth-child(3) {
		    width: auto;
		    padding-left: 15px;
		}

		.s-header-links .links.isLoggedIn > li.greet.welcome {
		    padding-left: 15px;
		}

		.c-mini-cart-btn {
		    padding: 0 5px;
		}

		div#top-search {
		    width: 90%;
		    float: right;
		}

	}

}/* END */

/* Show/Hide Styling */
.content {
	overflow: hidden;
	transition: all 1s;
}

button.contentBtn:hover {
	background: #000;
	color: #fff;
	transition: all 0.5s;
}

button.contentBtn {
	margin: 0 auto;
	display: block;
	width: 120px;
	background: transparent;
	color: #000;
	padding: 0.3% 0;
	border: 1px solid #000;
	transition: all 0.5s;
}

.page-products .content {
    width: 100%;
    max-width: 1228px;
    margin: 0 auto;
}

@media only screen and (max-width:1250px){
	.page-products .content {
	    padding: 0 2%;
	}
}

/* Show/Hide Styling END */