// Only put in here styles needed for Crags DE
.cms-homepage-promo-grid-ch-de {
	.o-region__inner.column.main,
	.o-region__inner.s-promo-grid {
		width: 100%;
	}

}

section.flexslider.pageSection.pageSection--slider.pageSection--fullWidth.fullWidthSlider {
	max-width: 100%;
	float: none;
	margin: 0 auto;
	display: flex;
}

ul.fullWidthSlider__slidesList {
	width: 100%;
}

section.pageSection.pageSection--fullWidth.pageSection--noTitle {
	margin: 0 auto;
	float: none;
}

.pageSection--thirds {
	margin: 0 auto;
	display: flex;
}

@media only screen and (max-width:650px){
	.pageSection--thirds {
	    display: table;
	}
}
/* Nosilife Microsite DE Only start */
.micro-hero--home .micro-hero__title,
.micro-hero__title.micro-hero__title--white {
    clear: both;
    margin-left: 5%;
}

.pageSection.micro-collection {
    padding-left: 0;
    padding-right: 0;
}

.micro-hero--home .micro-hero__subtitle {
    margin-left: 5%;
}
/* Nosilife Microsite DE Only end*/

/* Contact us form start */
.newsletterde label {
    width: 180px !important;
}

.newsletter-top {
    margin-top: 20px;
}
/* Contact us form end */

/* honesty project form start */
.honesty-project .block-title {
    font-size: 21px !important;
}
/* honesty project form end */


/* SS18 CUSTOMER SERVICE PAGES START*/
.cms-kontakt .c-breadcrumbs,
.cms-lebenslange-garantie .c-breadcrumbs,
.cms-versand .c-breadcrumbs,
.cms-rucksendung .c-breadcrumbs,
.cms-datenschutz .c-breadcrumbs,
.cms-agb .c-breadcrumbs,
.cms-preis-match-versprechen .c-breadcrumbs,
.cms-kundenservice .c-breadcrumbs,
.cms-cookie-richtlinie .c-breadcrumbs {
	display: none;
}

.cms-kontakt .columns .o-region__inner,
.cms-lebenslange-garantie .columns .o-region__inner,
.cms-versand .columns .o-region__inner,
.cms-rucksendung .columns .o-region__inner,
.cms-datenschutz .columns .o-region__inner,
.cms-agb .columns .o-region__inner,
.cms-preis-match-versprechen .columns .o-region__inner,
.cms-kundenservice .columns .o-region__inner,
.cms-cookie-richtlinie .columns .o-region__inner {
	width: 100%;
}

/* Mega menu */

.collection-mrfid{
    background-image:url(https://cdn.craghoppers.com/img/SS18/US/misc/mega_menu/RFID.jpg);
}
.collection-wrfid{
    background-image:url(https://cdn.craghoppers.com/img/SS18/US/misc/mega_menu/WRFID.jpg);
}

.menuSection.menuSectionNosi {
    width: 25% !important;
}

/*END*/

/* ambassadors */

.ambass-freek-de{
  background-image: url(https://cdn.craghoppers.com/img/SS18/DE/misc/mega_menu/ambassadors/Ambassadors-FreekVonk.jpg);
}
.ambass-bear-de{
  background-image: url(https://cdn.craghoppers.com/img/SS18/DE/misc/mega_menu/ambassadors/Ambassadors-BearGrylls.jpg);
}
.ambass-kevin-de{
  background-image: url(https://cdn.craghoppers.com/img/SS18/DE/misc/mega_menu/ambassadors/Ambassadors-KevinRichardson.jpg);
}
.ambass-faruk-de{
  background-image: url(https://cdn.craghoppers.com/img/SS18/DE/misc/mega_menu/ambassadors/Ambassadors-FarukAkbas.jpg);
}
.ambass-sophia-de{
  background-image: url(https://cdn.craghoppers.com/img/SS18/DE/misc/mega_menu/ambassadors/Ambassadors-Sophia.jpg);
}
.ambass-soren-de{
  background-image: url(https://cdn.craghoppers.com/img/SS18/DE/misc/mega_menu/ambassadors/Ambassadors-SorenBurmester.jpg);
}

/*END*/

/* Footer styles */

#footer .c-footer__links .o-layout .o-layout__item:last-of-type {
    float: right;
}
	/* remove newsletter signup */
	.c-footer__social {
	    display: none;
	}
	/* END */

/*END*/

#checkout > div.o-layout.u-flex-display\40 tablet > div.o-layout__item.u-8\2f 12.u-8\2f 12\40 tablet.u-8\2f 12\40 desktop.u-12\2f 12\40 mobile > div.u-margin-above.u-margin-below-2 > div > div:nth-child(2) {
    display: none !important;
}

/* PLP refine by fix */

.page-with-filter.page-products a.c-facet-list__refine-clear.c-facet-list__refine-clear-all.u-float-right {
    float: none !important;
    padding-bottom: 5%;
}

.page-with-filter.page-products .c-facet-list__refine-clear-all {
    position: relative !important;
    top: 0;
    right: 0;
    margin-top: -15px;
}

/*END*/

/* Badges */
.c-product-tile__img-wrapper a[href="https://www.craghoppers.de/nosilife-cargo-shorts-black-pepper/"]:before,
.c-product-tile__img-wrapper a[href="https://www.craghoppers.de/nosilife-cargo-shorts-ocean-blue/"]:before,
.c-product-tile__img-wrapper a[href="https://www.craghoppers.de/nosilife-cargo-shorts-parchment/"]:before,
.c-product-tile__img-wrapper a[href="https://www.craghoppers.de/nosilife-cargo-shorts-desert-sand/"]:before {
    content: '';
    display: block;
    background: url(https://cdn.craghoppers.com/img/SS18/DE/misc/product_badge/wandermagazin.png);
    width: 63px;
    height: 45px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.roundel {
    position: absolute;
    right: 0;
    z-index: 1;
    background: #E43A23;
    max-width: 63px;
    padding: 15px 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 15px;
    border-radius: 30px;
    color: #ffffff;
    display: block !important;
    font-size: 12px;
}

/* Badges END */