/* *********** FILM PRIZE *********** */

.cms-filmprize .o-list-inline,
.cms-filmprize-about .o-list-inline,
.cms-filmprize-discover .o-list-inline,
.cms-filmprize-enter .o-list-inline,
.cms-filmprize-aboutcraghoppers .o-list-inline {
    display: none;
}
.FA-Logo {
    max-width: 170px;
}
.FA-SocialContainer,
.FA-NavContainer {
    text-align: right;
}
.FA-Social {
    padding: 0% 0 0 1%;
    display: inline-block;
}
.FA-Social-Hashtag {
    color: #000;
    font-family: $gothmed;
    font-size: 16px;
    letter-spacing: 1px;
}
.FA-NavItem {
    padding: 6% 0 0 3.5%;
    display: inline-block;
    font-family: $gothlight;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.FA-NavItem a {
    color: #000;
}
.FA-NavItemBlue, 
.FA-NavItemBlue a {
    color: #000 !important;
    text-decoration: none;
    font-family: $gothmed;
}
.FA-Banner {
    padding-top: 2%;
}
.FA-Main-Header {
    font-family: $gothbold;
    text-transform: uppercase;
    color: #000;
    font-size: 21px;
    padding: 2% 0 1% 0;
    letter-spacing: 1.5px;
}
.FA-Main-Header-Grey {
    font-family: $gothbold;
    text-transform: uppercase;
    color: #656565;
    font-size: 19px;
    padding: 1% 0;
}
.FA-Main-Copy {
    font-family: $gothbook;
    color: #000;
    font-size: 17px;
    padding: 0 23% 0 0;
}
.FA-Main-Copy a {
    text-decoration: underline;
}
.FA-Main-Copy-Small {
    font-family: $gothbook;
    color: #000;
    font-size: 15px;
    padding: 2% 23% 0 0;
}
.FA-Main-Copy-Italic {
    font-style: italic;
}
.FA-DiscoverFilm {
    padding-top: 1%;
    max-width: 234px;
    margin-left: 1.5%;
}
ul.FA-list {
    list-style: none;
    font-family: $gothbook;
    color: #000;
    font-size: 18px;
    margin: 0;
}
ul.FA-list1 {
    float: left;
    padding-right: 20%;
}
.FA-SocialContainerMobile {
    display: none;
}

@media screen and (max-width: 1024px){
    .cms-filmprize .flex-item.col-2,
    .cms-filmprize-about .flex-item.col-2,
    .cms-filmprize-discover .flex-item.col-2,
    .cms-filmprize-enter .flex-item.col-2,
    .cms-filmprize-aboutcraghoppers .flex-item.col-2 {
        width: 20%;
    }
    .cms-filmprize .flex-item.col-10,
    .cms-filmprize-about .flex-item.col-10,
    .cms-filmprize-discover .flex-item.col-10,
    .cms-filmprize-enter .flex-item.col-10,
    .cms-filmprize-aboutcraghoppers .flex-item.col-10 {
        width: 80%;
    }
    .FA-Logo {
        max-width: 150px;
    }
}
@media screen and (max-width: 900px){
    .FA-NavItem {
        padding: 6% 0 0 5%;
        font-size: 16px;
    }
    .FA-Social {
        padding: 10% 0 0 1%;
    }
}
@media only screen and (max-width:700px){
    .FA-Social {
        padding: 11% 0 0 1%;
    }
    .FA-NavItem {
        padding: 5% 0 0 2%;
        font-size: 14px;
    }
}
@media only screen and (max-width:770px){
    .FA-Social {
        padding: 11% 0 0 1%;
    }
    .FA-NavItem {
        padding: 6% 0 0 2%;
    }
    .FA-Main-Copy {
        padding: 0;
    }
}
@media only screen and (max-width:600px){
    .cms-filmprize .flex-item.col-2,
    .cms-filmprize-about .flex-item.col-2,
    .cms-filmprize-discover .flex-item.col-2,
    .cms-filmprize-enter .flex-item.col-2,
    .cms-filmprize-aboutcraghoppers .flex-item.col-2,
    .cms-filmprize .flex-item.col-10,
    .cms-filmprize-about .flex-item.col-10,
    .cms-filmprize-discover .flex-item.col-10,
    .cms-filmprize-enter .flex-item.col-10,
    .cms-filmprize-aboutcraghoppers .flex-item.col-10 {
        width: 100%;
    }
    .FA-Logo {
        margin: auto;
    }
    .FA-Logo,
    .FA-SocialContainer,
    .FA-NavContainer {
        text-align: center;
    }
    .FA-NavItem {
        padding: 2% 4.5% 0 4.5%;
        font-size: 16px;
    }
    .FA-Main-Header {
        font-size: 18px;
        letter-spacing: 1px;
    }
    .FA-Main-Header-Grey {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .FA-Main-Copy {
        font-size: 14px;
    }
    .FA-Social {
        padding: 6% 0 1% 1%;
    }
    ul.FA-list {
        font-size: 14px;
    }
    .FA-Logo {
        max-width: 120px;
    }
    .FA-SocialContainer {
        display: none;
    }
    .FA-SocialContainerMobile {
        display: block;
        text-align: center;
    }
    .FA-MainContainer {
        padding: 0 1%;
    }
    ul.FA-list1 {
        float: none;
        padding-right: 0;
    }
}

/* *********** END *********** */

.fp-Container h3 {
    background-color: #626262;
    color: #fff;
    font-family: $gothbold;
    font-size: 35px;
    padding: 35px;
    padding-left: 20px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: none;
    padding-right: 12%;
}

.fp-section {
    display: flex;
}

.fp-Container img{
    width:100%;
}

.fp-topleft{
    width:40%;
}

.fp-tophero{
    width:60%;
}

.fp-Container p{
    font-family: $gothbook;
}

.fp-story h4,
.fp-Container .fp-storySub{
    font-family: $gothbold;
}

.fp-Intro p {
    letter-spacing: 1px;
}

.fp-Intro {
    width: 100%;
    max-width: 352px;
    margin-left: 5%;
    margin-top: 7%;
}

.fp-story {
    width: 50%;
}

.fp-story div {
    margin-left: 3%;
}

.fp-story h4 span{
    display:flex;
}

.fp-story h4 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1px;
}

.fp-storySub{
    text-transform:uppercase;
}

.fp-section:nth-child(2),
.fp-section:nth-child(3) {
    margin-top: 4%;
}

.fp-low {
    width: 42%;
    display: flex;
}

a:nth-child(2) .fp-CTA {
    margin: 0 20px;
}

.fp-CTA img {
    width: auto;
}

@media only screen and (max-width:1227px){
    .fp-low,
    .fp-low + div {
        width: 50%;
    }

}

@media only screen and (max-width:989px){

    .fp-low {
        width: 100%;
        display: block;
    }

    .fp-low .fp-CTA,
    .fp-CTA img,
    .fp-topleft,
    .fp-story {
        width: 100%;
    }

    a:nth-child(2) .fp-CTA {
        margin: 0;
    }

    .fp-low + div,
    .fp-tophero {
        display: none;
    }

    .fp-Intro {
        max-width: 100%;
        margin-left: 0;
        margin-top: 0%;
        padding: 0 10px;
    }

    .fp-section {
        display: block;
    }

    .fp-story div {
        margin-left: 0;
    }

    .fp-story:last-of-type {
        margin-top: 3%;
        padding: 0 10px;
    }


}

/* *********** END *********** */




/* *********** FILM PRIZE NEW AMENDS *********** */

/* guardian page start */
.cms-page-testing-ls .flex-container,
.cms-filmprize-winners .flex-container,
.cms-filmprize-aboutcraghoppers .flex-container,
.cms-filmprize-enter .flex-container,
.cms-filmprize-discover .flex-container,
.cms-filmprize-about .flex-container,
.cms-filmprize .flex-container,
.cms-filmprize-guardian .flex-container {
    margin: 0 !important;
}
.cms-page-testing-ls .c-breadcrumbs,
.cms-filmprize-winners .c-breadcrumbs,
.cms-filmprize-aboutcraghoppers .c-breadcrumbs,
.cms-filmprize-enter .c-breadcrumbs,
.cms-filmprize-discover .c-breadcrumbs,
.cms-filmprize-about .c-breadcrumbs,
.cms-filmprize .c-breadcrumbs,
.cms-filmprize-guardian .c-breadcrumbs {
    display: none;
}
.cms-page-testing-ls .columns .o-region__inner,
.cms-filmprize-winners .columns .o-region__inner,
.cms-filmprize-aboutcraghoppers .columns .o-region__inner,
.cms-filmprize-enter .columns .o-region__inner,
.cms-filmprize-discover .columns .o-region__inner,
.cms-filmprize-about .columns .o-region__inner,
.cms-filmprize .columns .o-region__inner,
.cms-filmprize-guardian .columns .o-region__inner {
    width: 100%;
}
.fp-container {
    background-color: #131b1d;
}
.fp-inner {
    z-index: 10;
    position: relative;
}
.fp-container:before {
    content: "";
    background-image: url(https://cdn.craghoppers.com/img/AW18/UK/page/film-prize/fp-background.jpg);
    background-repeat: no-repeat;
    background-color: #131b1d;
    background-position: top left 50%;
    background-size: cover;
    height: 100%; 
    width: 50%;
    display: block;
    position: absolute;
    z-index: -0;
    left:0;
    top: 0;
}
.fp-container:after {
    content: "";
    background-image: url(https://cdn.craghoppers.com/img/AW18/UK/page/film-prize/fp-background.jpg);
    background-repeat: no-repeat;
    background-color: #131b1d;
    background-position: top right 60%;
    background-size: cover;
    height: 100%; 
    width: 50%;
    display: block;
    position: absolute;
    z-index: -0;
    right: 0;
    top:0;
}
.fp-inner {
    max-width: 1228px;
    margin: 0 auto;
}
.FA-Logo2 {
    padding: 57px 0 0 20px;
}
.fp-hero-inner-1 {
    margin: 12% auto;
}
.fp-hero-logo-1 {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
}
.fp-hero-logo-2 {
    width: 100%;
    max-width: 206px;
    margin: 0 auto;
    padding-bottom: 1%;
}
.fp-hero-inner-2 {
    margin: 5% auto;
}
.fpHeroIntro {
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}
.fpHeroOne{
    background-image: url('https://cdn.craghoppers.com/img/AW18/UK/page/film-prize/hero1.jpg');
}
.fpHeroTwo{
    background-image: url('https://cdn.craghoppers.com/img/AW18/UK/page/film-prize/hero2.jpg');
}
.fpHeroIntro.fpHeroOne button,
.fpHeroIntro.fpHeroTwo button {
    font-family: $gothbold;
    margin: 0 auto;
    display: block;
    width: 206px;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    font-size: 18px;
    padding: 8px 10px;
}
.fpHeroIntro.fpHeroOne button:hover,
.fpHeroIntro.fpHeroTwo button:hover {
    background: rgba(255,255,255,0.8);
}
.fp-header {
    background-color: #fff;
    padding: 25px;
}
.fp-top-footer {
    background-color: #f56600;
    padding: 25px;
}
.fp-top-footer button {
    font-family: $gothbold;
    margin: 5% auto 0 auto;
    display: block;
    width: 206px;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    font-size: 18px;
    padding: 8px 10px;
    color: #f56600;
}
.fp-top-footer button:hover {
    background: rgba(255,255,255,0.7);
}
.fp-top-footer-left {
    font-family: $gothbold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
}
.fp-top-footer-right {
    font-family: $gothmed;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
}
.fp-top-footer-right span {
    font-size: 18px;
    font-family: $gothlight;
}
.fp-bottom-footer {
    padding: 25px 0 75px 0;
}
.fp-bottom-footer-left {
    font-family: $gothlight;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
}
.FA-Social-Hashtag-bottom {
    font-family: $gothlight;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    vertical-align: middle;
}

@media screen and (max-width: 1200px) {
    .fp-hero-inner-2 {
        margin: 3% auto;
    }
    .fp-hero-inner-1 {
        margin: 11% auto;
    }
}

@media screen and (max-width: 1050px) {
    .fp-hero-inner-2 {
        margin: 2% auto;
    }
}

@media screen and (max-width: 1050px) {
    .FA-Logo {
        max-width: 93px;
    }
    .flex-item.col-1.fp-flex {
        width: 14% !important;
    }
    .flex-item.col-10.fp-flex {
        width: 72% !important;
    }
    .fp-hero-logo-1 {
        max-width: 320px;
    }
    .fp-hero-logo-2 {
        max-width: 160px;
    }
    .fp-hero-inner-1 {
        margin: 11% auto;
    }
    .fp-hero-inner-2 {
        margin: 5% auto;
    }
}

@media screen and (max-width: 950px) {
    .fp-hero-logo-2 {
        max-width: 140px;
    }
    .fp-hero-inner-2 {
        margin: 3% auto;
    }
}

@media screen and (max-width: 900px) {
    .FA-NavItem {
        padding: 8% 0 0 3.5%;
        font-size: 13px;
    }
    .fp-hero-inner-1 {
        margin: 9% auto;
    }
    .fp-hero-inner-2 {
        margin: 2% auto;
    }
}

@media only screen and (max-width: 800px) {
    .fp-container {
        background-image: none;
    }
    .FA-NavItem {
        font-size: 13px;
    }
    .FA-Social-Hashtag {
        font-size: 14px;
    }
    .fpHeroIntro.fpHeroOne button,
    .fpHeroIntro.fpHeroTwo button {
        width: 180px;
        font-size: 16px;
        padding: 8px 10px;
    }
    .fp-top-footer button {
        margin: 1% auto 0 auto;
        width: 180px;
        font-size: 16px;
        padding: 8px 10px;
    }
    .fp-top-footer-left {
        font-size: 14px;
        line-height: 22px;
    }
    .fp-top-footer-right {
        font-size: 14px;
        line-height: 22px;
    }
    .fp-top-footer-right span {
        font-size: 12px;
        letter-spacing: 0px;
    }
    .fp-bottom-footer {
        padding: 25px 5px;
    }
    .FA-NavItem {
        padding: 11% 0 0 3.5%;
    }
    .FA-Logo1 {
        max-width: 120px;
    }
    .FA-Logo2 {
        max-width: 120px;
        padding: 57px 0 0 20px;
    }
    .fp-hero-logo-1 {
        max-width: 210px;
    }
    .fp-hero-logo-2 {
        max-width: 100px;
    }
    .fp-hero-inner-1 {
        margin: 11% auto;
    }
    .fp-hero-inner-2 {
        margin: 4.5% auto;
    }
}

@media screen and (max-width: 750px) {
    .fp-hero-inner-1 {
        margin: 10% auto;
    }
    .fp-hero-inner-2 {
        margin: 5% auto;
    }
    .flex-item.col-1.fp-flex {
        width: 50% !important;
    }
    .flex-item.col-10.fp-flex {
        width: 100% !important;
    }
    .FA-NavItem {
        padding: 2% 0 0 3.5%;
    }
    .FA-Logo1 {
        float: right;
    }
    .FA-Logo2 {
        float: left;
        padding: 70px 0 0 0px;
    }
    .FA-Logo {
        padding-bottom: 10px;
    }
    .FA-SocialContainer {
        display: none;
    }
    .FA-SocialContainer, 
    .FA-NavContainer {
        text-align: center;
    }
    .fp-hero-inner-2 {
        margin: 3.5% auto;
    }
}

@media only screen and (max-width: 700px) {
    .fp-hero-inner-1 {
        margin: 9% auto;
    }
    .fp-hero-inner-2 {
        margin: 2.5% auto;
    }
    .fp-hero-logo-2 {
        max-width: 90px;
    }
}

@media screen and (max-width: 650px) {
    .fpHeroIntro.fpHeroOne button {
        width: 130px;
        font-size: 14px;
        padding: 6px 8px;
    }
    .fpHeroIntro.fpHeroTwo button {
        width: 155px;
        font-size: 14px;
        padding: 6px 8px;
    }
    .fp-top-footer button {
        margin: 4% auto 4% auto;
        width: 130px;
        font-size: 14px;
        padding: 6px 8px;
    }
    .fp-hero-inner-1 {
        margin: 6% auto;
    }
    .fp-hero-inner-2 {
        margin: 3% auto;
    }
}


@media screen and (max-width: 650px) {
    .fpHeroIntro.fpHeroOne button {
        width: 110px;
        font-size: 12px;
        padding: 4px 6px;
    }
    .fpHeroIntro.fpHeroTwo button {
        width: 135px;
        font-size: 12px;
        padding: 4px 6px;
    }
    .fp-top-footer button {
        margin: 4% auto 4% auto;
        width: 110px;
        font-size: 12px;
        padding: 4px 6px;
    }
}

@media only screen and (max-width: 500px) {
    .fpHeroOne{
        background-image: url('https://cdn.craghoppers.com/img/AW18/UK/page/film-prize/hero1-mob.jpg');
    }
    .fpHeroTwo{
        background-image: url('https://cdn.craghoppers.com/img/AW18/UK/page/film-prize/hero2-mob.jpg');
    }
    .fp-hero-logo-1 {
        max-width: 150px;
        margin: 17.5% auto 0 auto;
    }
    .fp-hero-logo-2 {
        max-width: 100px;
    }
    .fp-hero-inner-1 {
        margin: 25% auto;
    }
    .fp-hero-inner-2 {
        margin: 11% auto;
    }
    .fp-bottom-footer-left {
        text-align: center;
    }
    .FA-SocialContainer.FA-SocialContainer-bottom {
        display: block;
        padding-top: 5px;
    }
    .FA-Social.FA-Social-Hashtag-bottom {
        display: none;
    }
    .FA-Logo2 {
        padding: 74px 0 0 0px;
    }
    .FA-Logo.FA-Logo2 img {
        width: 105px;
    }
}

/*guardian page end */

/* new homepage start */
.fp-inner-white {
    background-color: #fff;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0; 
    height: 0; 
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*montage start*/
.fp-montage-inner {
    position: relative;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    overflow: hidden;
    height: 100%;
}
.fp-montage-inner > .fp-montage-item {
    display: none;
}
.fp-montage-inner:hover > .fp-montage-item {
    display: block;
}
.fp-montage-inner .fp-montage-item > div {
    opacity: 0;
}
.fp-montage-inner:hover .fp-montage-item > div {
    opacity: 1;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    z-index: 1;
    position: relative; 
}
.fp-montage-inner:hover .fp-montage-item {
    position: absolute;
    background-color: rgba(245,102,0,0.6);
    text-align: center;
    color: #ffffff;
    font-family: $gothbold;
    font-size: 14px;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 19% 0;
}
.fp-montage-inner:hover .fp-montage-item.fp-montage-item-7 {
    padding: 14% 0 !important;
}
/*montage end*/
.fp-montage-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fp-montage-copy-top {
    text-transform: uppercase;
    font-family: $gothbold;
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 1px;
}
.fp-montage-copy-bottom {
    text-transform: initial;
    font-family: $gothlight;
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 22px;
}
.fp-showcasing-title {
    text-transform: uppercase;
    font-family: $gothbold;
    color: #218391;
    text-align: center;
    font-size: 70px;
    line-height: 76px;
    padding: 2% 10% 0 10%;
}
.flex-container.fp-montage-container .flex-item.col-4 {
    padding: 0 !important;
}
.flex-item.col-4.fp-montage-inner {
    width: 33.3% !important;
    line-height: 0;
}
.fp-montage-container {
    padding: 1.6% 3.6% 3.6% 3.6%;
}
.fp-top-footer2 {
    background-color: #218391;
    padding: 25px;
    width: 100%;
}
.fp-top-footer2 button {
    font-family: $gothbold;
    margin: 5% auto 0 auto;
    display: block;
    width: 206px;
    text-transform: uppercase;
    background-color: #218391;
    border: none;
    font-size: 18px;
    padding: 8px 10px;
    color: #fff;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
}
.fp-top-footer2 button:hover {
    background: rgba(33,131,145,0.7);
}
.fp-rewarding-title {
    text-transform: uppercase;
    font-family: $gothbold;
    color: #f56600;
    text-align: center;
    font-size: 60px;
    line-height: 66px;
    padding: 2% 4%;
}
.fp-watch-title {
    font-family: $gothbold;
    color: #000;
    text-align: center;
    font-size: 34px;
    line-height: 76px;
    padding: 2% 0;
}
.fp-footer-title {
    font-family: $gothbold;
    color: #000;
    text-align: center;
    font-size: 30px;
    line-height: 34px;
    padding: 4% 0;
}
.fp-footer-title span {
    font-family: $gothmed;
}
.fp-rewarding-copy-black {
    font-family: $gothlight;
    color: #000;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    padding: 0.5% 5%;
}
.fp-rewarding-copy-black span {
    font-style: italic;
    font-family: $gothmed;
}
.fp-rewarding-copy-blue {
    font-family: $gothbold;
    color: #218391;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    padding: 0.5% 5%;
}

@media screen and (max-width: 1000px) {
    .fp-showcasing-title {
        font-size: 44px;
        line-height: 50px;
    }
    .fp-rewarding-title {
        font-size: 32px;
        line-height: 38px;
    }
    .fp-rewarding-copy-black,
    .fp-rewarding-copy-blue {
        font-size: 16px;
        line-height: 20px;
    }
    .fp-footer-title {
        font-size: 20px;
        line-height: 26px;
    }
    .fp-montage-copy-top {
        font-size: 18px;
        line-height: 24px;      
    }
    .fp-montage-copy-bottom {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 800px) {
    .fp-montage-container {
        padding: 1.5% 3% 3% 3%;
    }
    .fp-showcasing-title {
        font-size: 38px;
        line-height: 44px;
        padding: 3% 10% 0 10%;
    }
    .fp-rewarding-title {
        font-size: 32px;
        line-height: 38px;
    }
    .fp-rewarding-copy-black,
    .fp-rewarding-copy-blue {
        font-size: 18px;
        line-height: 24px;
        padding: 0.5% 4%;
    }
    .fp-watch-title {
        font-size: 24px;
        line-height: 30px;
        padding: 3% 0;
    }
    .fp-footer-title {
        font-size: 22px;
        line-height: 30px;
        padding: 4% 0;
    }
    .fp-montage-copy-top {
        font-family: $gothmed;
        font-size: 15px;
        line-height: 18px;  
        letter-spacing: 0;  
    }
    .fp-montage-copy-bottom {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0;
    }
    .fp-montage-inner:hover .fp-montage-item {
        padding: 17% 0;
    }
    .fp-montage-inner:hover .fp-montage-item.fp-montage-item-7 {
        padding: 8% 0 !important;
    }
    .fp-top-footer-right span {
        font-size: 13px;
        letter-spacing: 0px !important;
    }
}

@media screen and (max-width: 700px) {
    .fp-rewarding-title {
        padding: 2% 4%;
    }
    .fp-rewarding-copy {
        padding-bottom: 3%;
    }
    .fp-watch-title {
        font-size: 22px;
        line-height: 30px;
    }
    .fp-footer-title {
        font-size: 18px;
        line-height: 24px;
    }
    .flex-item.col-4.fp-montage-inner {
        width: 50% !important;
    }   
}

@media screen and (max-width: 600px) {
    .fp-showcasing-title {
        font-size: 32px;
        line-height: 38px;
    }
    .fp-rewarding-title {
        font-size: 28px;
        line-height: 34px;
    }
    .fp-watch-title {
        font-size: 18px;
        line-height: 24px;
        padding: 3% 9%;
    }
    .fp-footer-title {
        font-size: 14px;
        line-height: 20px;
        padding: 4% 6%;
    }
}

@media screen and (max-width: 500px) {
    .fp-montage-container {
        padding: 0.5% 0%;
    }
    .fp-showcasing-title {
        font-size: 22px;
        line-height: 28px;
    }
    .fp-rewarding-title {
        font-size: 16px;
        line-height: 22px;
    }
    .fp-rewarding-copy-black,
    .fp-rewarding-copy-blue {
        font-size: 14px;
        line-height: 20px;
        padding: 0.5% 1%;
    }
    .fp-watch-title {
        font-size: 18px;
        line-height: 24px;
        padding: 3% 9%;
    }
    .fp-montage-copy-top {
        font-size: 12px;
        line-height: 14px;
    }
    .fp-montage-copy-bottom {
        font-size: 12px;
        line-height: 13px;
    }
    .fp-montage-inner:hover .fp-montage-item {
        padding: 17% 0;
    }
    .fp-montage-inner:hover .fp-montage-item.fp-montage-item-4 {
        padding: 14% 0 !important;
    }
    .fp-montage-inner:hover .fp-montage-item.fp-montage-item-5 {
        padding: 11% 0 !important;
    }
    .fp-montage-inner:hover .fp-montage-item.fp-montage-item-7 {
        padding: 5% 0 !important;
    }
}
/* new homepage end */


/* about page start */
.fp-blue-title {
    text-transform: uppercase;
    font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
    color: #218391;
    text-align: center;
    font-size: 78px;
    line-height: 78px;
    padding: 2% 14%;
}
.fp-orange-title {
    text-transform: uppercase;
    font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
    color: #f56600;
    text-align: center;
    font-size: 78px;
    line-height: 78px;
    padding: 2% 0;
}
.fp-copy-orange {
    font-family: "Gotham-Bold", Helvetica, Arial, sans-serif;
    color: #f56600;
    text-align: center;
    font-size: 33px;
    line-height: 38px;
    padding: 0.5% 24%;
}
.fp-copy-black {
    font-family: "Gotham-Light", Helvetica, Arial, sans-serif;
    color: #000;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    padding: 0.5% 6%;
}
.flex-container.fp-about-prizes {
    margin: 10px 30px !important;
}
.fp-about-prizes .flex-item.col-3 {
    line-height: 0;
    padding: 0 !important;
    padding: 3% 2%;
}
.fp-about-montage .flex-item.col-4 {
    width: 33.3% !important;
    line-height: 0;
    padding: 0 !important;
}
.flex-container.fp-about-montage {
    padding: 3%;
}
.fp-footer-title.fp-footer-title-grey {
    background-color: #cccccc;
}

@media screen and (max-width: 1100px) {
    .fp-copy-black {
        font-size: 20px;
        line-height: 26px;
    }
    .fp-copy-orange {
        font-size: 30px;
        line-height: 35px;
    }
    .fp-orange-title,
    .fp-blue-title {
        font-size: 66px;
        line-height: 66px;
    }
}

@media screen and (max-width: 1000px) {
    .fp-copy-orange {
        padding: 0.5% 20%;
    }
    .fp-orange-title,
    .fp-blue-title {
        font-size: 56px;
        line-height: 56px;
    }
}

@media screen and (max-width: 800px) {
    .fp-copy-orange {
        font-size: 24px;
        line-height: 30px;
    }
    .fp-orange-title,
    .fp-blue-title {
        font-size: 38px;
        line-height: 44px;
    }
}

@media screen and (max-width: 750px) {
    .fp-about-prizes .flex-item.col-3 {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .fp-copy-black {
        font-size: 14px;
        line-height: 20px;
        padding: 0.5% 4%;
    }
    .fp-copy-orange {
        font-size: 18px;
        line-height: 24px;
        padding: 0.5% 7%;
    }
    .fp-orange-title,
    .fp-blue-title {
        font-size: 22px;
        line-height: 26px;
        padding: 4% 0;
    }
}
/* about page end */


/* discover page start */

.fp-blue-title.fp-discover {
    padding: 2% 5%;
}
.fp-copy-orange.fp-discover {
    padding: 0.5% 9%;
}
.fp-copy-black.fp-copy-bold {
    font-family: "Gotham-Medium", Helvetica, Arial, sans-serif !important;
}
.fp-copy-black.fp-copy-small {
    font-size: 14px;
    line-height: 16px;
}

/* discover page end */

.flex-item.col-12.fp-banner-nopadding {
    padding: 0!important;
}
.FA-MainContainer {
    padding: 0 2% 2% 2%;
}

/* *********** END *********** */
