.c-product-tile .c-product-tile__btn {
    display: none;
}

#tech-image-wrapper img {
	width: auto;
}

.c-product-tile__btn {
	font-size: 1rem;
	background: #bbb;
	color: #343334;
	border: none;
	padding: 2px;
}

.u-heading-epsilon {
	line-height: 1.4;
}

@media only screen and (max-width:500px) {
	.s-text-banner {
		margin-top: 5%;
	}

}

/* Desktop Show/Hide */
.category-view__description + button {
    display: block !important;
    background: transparent;
    border: 1px solid;
    padding: 0.2% 0;
    margin-top: 1%;
    min-width: 100px;
    float:right;
}

.category-view__description.active + button {
    margin-top: 0;
}

p.category-view__description.active {
    height: 45px;
    overflow: hidden;
}

.plp-header + .category-view__description,
.plp-header + .category-view__description + .category-view__description {
    max-width: 1228px;
    margin: 0 auto;
}

.plp-header + .category-view__description + .category-view__description {
    margin-top: 1%;
}

/* END */

/* Mobile SEO show/hide */

.category-view__description + button {
	display:none;
} 

@media only screen and (max-width:550px) {
	p.category-view__description {
	    padding: 0 10px;
	}

	p.category-view__description.active {
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    max-width: 678px;
	}

	p.category-view__description {
	    -webkit-line-clamp: 1000;
	}

	.category-view__description + button {
	    display: table;
	    margin: 0 auto;
	    text-align: center;
	    padding: 1% 6%;
	    color: #000;
	    cursor: pointer;
	    float: none;
	}

	.s-text-banner.active {
	    padding: 0 2%;
	}

}
/* END */


/* Tick boxes */

body .c-checkbox-option__checkbox:after {
	margin: 1px;
}

body .c-checkbox-option__input:checked~.c-checkbox-option__checkbox {
	border: 2px solid #dfe0e1;
	background: #fff;
}

/* END */

/* Lower SEO */
.js-fredhopper-fredhopper-plp-seo-text-wrapper-placeholder div .s-text-banner.active {
    height: 110px;
    overflow: hidden !important;
}
.js-fredhopper-fredhopper-plp-seo-text-wrapper-placeholder div .s-text-banner.active.open {
    height: auto;
    overflow: auto !important;
}
.lower-seobttn-container .readmore {
    padding: 0.5% 0;
    margin-top: 0.5%;
}
/* END */


/*/////////////////////////*/
/*    Hides Quick Buy     */
/*/////////////////////////*/
.catalog-category-view .c-btn.c-btn--secondary.c-btn--expanded.c-product-tile__btn {
 display: none !important;
 }

.catalog-category-view .c-product-tile__img-wrapper {
  margin-bottom: 10px;
}


/* PLP Updates Start*/

.c-price__group {
  display: inline-block;
}

.c-product-tile__title {
  text-align: center;
  color: #343334 !important;
  width:100%;
  font-family: 'OpenSans-SemiBold' !important;
  font-weight: normal !important;
}

.c-price.c-price--small {
    color: #343334 !important;
}

html .catalog-category-view .c-product-tile.u-heading-epsilon .c-rating__reviews:after {
content: " Reviews";
}

.c-rating__wrap--product-tile {
  clear: both;
}

.c-price__strike {
  padding-right: 5px;
}

.c-price--small {
  text-align: center;
}

.c-rating__container {
  -webkit-filter: grayscale(100%) brightness(20%)!important;
  filter: grayscale(100%) brightness(20%) !important;
}

.c-product-tile__item-extra-info {
  display:none;
}

.c-icon--unsaved-item, .c-icon--up-primary {
  margin-bottom: 10px;
}

.c-price--small {
  line-height: 1 !important;
}

.c-rating__reviews, .c-rating{
  float: none !important;
  display: inline-block;
  margin: 0 4px;
}

.c-rating__reviews {
    position: relative;
    top: -13px;
    font-size: 1.2em;
}

.c-rating__container{
  text-align: center
}

.c-rating__container {
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

.c-price__group:nth-child(1) .c-price__strike:empty {
    display: none;
}

p.c-price__group.nowPrice span:before {
    content: 'Now: ';
}

.c-price.c-price--small.noRrp .c-price__group.sale{
	color:#333333;
}

.c-price.c-price--small.hasRrp .c-price__group.original{
	color:#333333;
}

/*.c-price.c-price--small.hasRrp .c-price__group.sale{
	color:#ff0000;
}*/

@media only screen and (max-width:550px) {
	.pageothertext {
		padding: 0 10px;
	}

	.o-layout.mobile-flex {
		margin: 0;
	}

	.o-layout.mobile-flex .o-layout__item {
		padding: 0 10px;
	}

	.c-pagination__item--arrow-right {
		right: 15px;
	}

	.o-layout .o-layout {
		margin-left: 0;
	}

	.o-layout.mobile-flex .o-layout__item .o-layout .o-layout__item {
		padding: 0;
	}

	.o-layout.mobile-flex .o-layout__item .o-layout .o-layout__item.o-layout--spaced:nth-child(1) {
		padding-right: 0.5%;
	}

	.o-layout.mobile-flex .o-layout__item .o-layout .o-layout__item.c-mobile-listing__sort--flex-order {
		padding-left: 0.5%;
	}

	.lower-seobttn-container {
		margin: 3% 0;
	}

	.s-text-banner p:empty {
		display: none;
	}

}

/* END */

/* Gender align filters */

.o-layout__item.c-selected-facets--position {
	margin-top: 9%;
}

@media only screen and (max-width:1227px) {
	.o-layout__item.c-selected-facets--position {
		margin-top: 10%;
	}

}

@media only screen and (max-width:989px) {
	.o-layout__item.c-selected-facets--position {
		margin-top: 12%;
	}

}

@media only screen and (max-width:740px) {
	ul.o-list-stacked.c-mobile-facet-list {
		margin-top: 0%;
	}

}

/* Gender align filters END */

/* Breadcrumbs Update */

.c-breadcrumbs__item:after {
	content: '>' !important;
}

.c-breadcrumbs__item:last-child:after {
	content: "" !important;
}

.breadcrumbs.c-breadcrumbs {
	margin-bottom: 0;
	margin: 4px 0;
}

.s-text-banner p:empty {
	display: none;
}

/* Breadcrumbs Update END */

/* Back to top Bttn */
@media only screen and (max-width:700px){
  .c-back-to-top-btn__container {
    display: none;
  }
}
/* Back to top Bttn END */

/* PLP Updates */
.o-layout.mobile-flex .c-toolbar--position .o-layout.u-flex-row .o-layout__item:nth-child(1) {
	width: 50% !important;
}

.o-layout.mobile-flex .c-toolbar--position .o-layout.u-flex-row .o-layout__item:nth-child(2) {
	width: 50% !important;
}

.o-layout.mobile-flex .c-toolbar--position .o-layout.u-flex-row .o-layout__item:nth-child(1) ul {
	margin: 0;
}

.o-layout.mobile-flex .c-toolbar--position .o-layout.u-flex-row .o-layout__item:nth-child(1) ul li {
	display: inline-block;
	margin-right: 1%;
	cursor: pointer;
	font-size: 12px;
	text-transform: capitalize;
}

.o-layout.mobile-flex .c-toolbar--position .o-layout.u-flex-row .o-layout__item:nth-child(1) ul li:hover {
	text-decoration: underline;
}

.o-layout.mobile-flex .c-toolbar--position .o-layout.u-flex-row .o-layout__item:nth-child(1) ul li:last-of-type {
	margin-right: 0;
}

li.toggleable > span.sortby-icon {
	vertical-align: text-top;
	margin-left: 5px;
	display:none;
}

.o-layout.mobile-flex .c-toolbar--position .o-layout.u-flex-row .o-layout__item:nth-child(1) ul li.selected {
	background: transparent;
	color: #343334;
	text-decoration: underline;
	font-weight: bold;
}

.o-layout.mobile-flex .c-toolbar--position .o-layout.u-flex-row .o-layout__item:nth-child(1) ul li:last-of-type + span {
    display: none;
}

.o-layout.mobile-flex .c-toolbar--position .o-layout.u-flex-row .o-layout__item:nth-child(1) ul li + span {
    margin-right: 1%;
}

@media only screen and (max-width:1260px){
	.plp-container {
	    margin: 0 2%;
	}

	.seoheader {
	    margin: 0 2%;
	}
}

/* PLP Updates END */

/* PLP Accordion */
.c-facet-list__facet-header {
	margin-bottom: 10px !important;
}

.c-facet-list__list {
	padding-bottom: 0 !important;
	margin-bottom: 10px !important;
	cursor: pointer !important;
}

.c-facet-list__list.facetOpen {
	padding-bottom: 10px !important;
}

.c-facet-list__facet-header {
	position: relative;
}

.c-facet-list__facet-header::before,
.c-facet-list__facet-header::after {
	content: '';
	width: 10px;
	height: 2px;
	background: #000;
	position: absolute;
	right: 0;
	top: 11px;
}

.facetOpen .c-facet-list__facet-header {
	text-decoration: underline;
}

.c-facet-list__facet-header::before {
	transform: rotate(90deg);
	transition: transform 0.5s;
}

.facetOpen .c-facet-list__facet-header::before {
	transform: rotate(0deg);
	transition: transform 0.5s;
}

.c-facet-list__list--scroll {
	padding-left: 0px !important;
	border: 0 !important;
}

.o-layout__item.c-selected-facets--position.facetScroll {
	position: fixed;
	top: 20px;
	width: 207px !important;
	margin-top: 1.2%;
}

.c-back-to-top-btn__wrapper.btnScroll {
	position: relative;
	margin-top: 0;
}

.o-layout.mobile-flex {
	position: relative;
}

.o-layout__item.c-selected-facets--position.facetbottom {
	position: absolute;
	bottom: 0;
	display: inline-block;
	top: initial;
}

.c-back-to-top-btn__wrapper {
    display: none;
}

@media only screen and (max-width:1228px) {
	.o-layout__item.c-selected-facets--position.facetScroll {
		width: 168px !important;
		top:30px;
	}

}

@media only screen and (max-width:989px) {
	.o-layout__item.c-selected-facets--position.facetScroll {
		width: 126px !important;
	}

}
/* PLP Accordion END */