/***************************
All styles relating to 
Simon Reeve Micro site
****************************/

/***** nav start *******/
.sr-nav-title {
	color: #343334;
	padding: 4% 0;
	font-size: 34px;
	text-transform: uppercase;
	font-family: $crimreg;
	text-align: center;
}

.sr-nav {
	text-align: center;
}

.sr-nav-item {
	color: #343334;
	font-size: 16px;
	display: inline-block;
	padding: 0 5%;
}

.sr-nav-item a {
	color: #343334;
}

.sr-nav-item a:hover {
	color: #000;
}

.sr-nav-item-current {
	font-family: $osbold;
}

.sr-nav-divide {
	background-color: #000;
	height: 2px;
	margin: 2.5% 0 0 0;
}

@media only screen and (max-width:1024px) {
	.sr-nav-title {
		padding: 2% 0;
	}

}

@media only screen and (max-width:989px) {
	.sr-nav-item {
		padding: 0 4%;
	}

}

@media only screen and (max-width:800px) {
	.sr-nav-title {
		padding: 3% 0;
	}

	.sr-nav-item {
		padding: 0 2%;
	}

}

@media only screen and (max-width:500px) {
	.sr-nav-title {
		padding: 1% 0;
		font-size: 28px;
	}

	.sr-nav-item {
		//font-size: 14px;
		padding: 0 3%;
	}

}

/***** nav END *******/

/***** Competition Page ********/
.srComp {
	.flex-item {
		padding: 0 !important;
	}

	.sr-comp-title {
		font-family: $crimreg;
		font-size: 24px;
		text-transform: uppercase;
		padding-bottom: 2%;
		padding-top: 2%;
	}

	.sr-comp-copy {
		font-family: $osreg;
		font-size: 16px;
		padding: 0 16%;
	}

	.sr-comp-product {
		font-family: $osreg;
		font-size: 20px;
		color: #343334;
		padding-bottom: 2%;
	}

	.sr-comp-product span {
		font-size: 16px;
		text-transform: uppercase;
		text-decoration: underline;
	}

	.sr-comp-product:hover {
		color: #000;
	}

	.sr-comp-form {
		padding: 4% 0;
	}

	.sr-comp-form .sr-comp-form-inner {
		width: 100%;
		margin: 0 auto;
		background-color: #ededed;
		padding: 4% 10%;
	}

	.sr-comp-form .redeye-form button {
		float: none;
		margin: 1% auto;
		background-color: #fff;
		border-style: solid;
		border-width: 1px;
		border-color: #343334;
		color: #343334;
		padding: 8px 40px;
		font-family: $osbold;
		font-size: 16px;
	}

	.sr-comp-form .redeye-form button:hover {
		background-color: #b4b3b4;
	}

	.redeye-form input {
		width: 70%;
		border-style: none;
		margin-bottom: 1%;
		padding: 3.5% 2%;
	}

	.sr-comp-terms p {
		padding-top: 2%;
		margin-bottom: 0 !important;
		font-size: 13px;
		text-align: left;
	}

	.newsletter.text.full.sr-comp-terms input[type=checkbox] {
		margin-right: 5px;
		width: auto;
	}

	.flex-item.col-8 {
		width: 70%;
	}

	.flex-item.col-4 {
		width: 30%;
	}

}

@media only screen and (max-width:989px) {
	.sr-comp-container {
		.flex-item.col-4 {
			display: none;
		}

	}

}

/***** Competition Page END ********/

/** Generic styling **/
.cms-simonreeve-oncraghoppers .breadcrumbs.c-breadcrumbs {
	display: none;
}

.srContainer {
	text-align: center;
	color: #343334;
	position: relative;
	margin-top: 0;
}

.srIntro {
	background-color: #f2f2f2;
}

.srHeroHover,
.srHeroHover img {
	position: relative;
}

.srHeroHover {
	.srHeroOverlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
	}

	img {
		vertical-align: bottom;
	}

}

.srHeroHover:hover .srHeroOverlay {
	display: block;
}

.onCHProduct {
	background: #fff;
	border-radius: 30px;
	padding: 1px 6px;
	line-height: 1;
}

.srVideo {
	position: relative;
	width: 100%;
	padding-top: 37%;
    max-width: 800px;
	margin: 0 auto;
}

.srVideo iframe {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.endcapButton {
	border: 1px solid;
	padding: 0.5% 0;
	width: 100%;
	min-width: 250px;
	display: block;
	max-width: 200px;
	margin: 1% auto 0 auto;
	transition: all 0.5s;
}

.endcapButton:hover {
	background: rgba(0, 0, 0, 1);
	color: #fff;
	transition: all 0.5s;
}

.srMedia {
	span {
		font-family: $crimreg;
		text-transform: uppercase;
		letter-spacing: 1.1px;
		font-size: 30px;
		margin: 0 0 2% 0;
		display: block;
	}

}

.srInfo p {
	margin: 4% auto;
	max-width: 880px;
}

span.quote {
	font-size: 35px;
	line-height: 1.5;
	padding-top: 15%;
	display: block;
	width: 100%;
	letter-spacing: 1.2px;
	max-width: 580px;
	text-align: left;
}

span.quoteOwner {
	font-family: $osbold;
	letter-spacing: 1.1px;
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 2%;
	display: block;
	text-align: left;
}

.srBlogPost {
	.srBlog {
		font-family: $crimreg;
		text-transform: uppercase;
		letter-spacing: 1.1px;
		font-size: 30px;
		display: block;
		line-height: 1;
		margin-top: 2%;
		margin-bottom: 2%;
	}

	.srBlogTitle {
		font-size: 20px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		margin-top: 0.5%;
		display: block;
		margin-bottom: 2%;
	}

	.blogContent {
	    overflow: hidden;
	    //height: 55px;
	    text-align: left;
	}

	.srBlogButton {
	    border: 1px solid;
	    padding: 0.5% 0;
	    width: 100%;
	    min-width: 200px;
	    display: block;
	    max-width: 200px;
	    margin: 1% auto 0 auto;
	    transition: all 0.5s;
	    cursor: pointer;
	}

	.srBlogButton:hover{
		background: #000;
    	color: #fff;
    	transition: all 0.5s;
	}

	.blogContent {
	    overflow: hidden;
	    transition: all 1s;
	}

	.blogContent.active {
	    transition: all 1s;
	}

}

.desktopHero{
	display:block;
}

.mobileHero{
	display:none;
}

.onCHProduct {
    position: relative;
    cursor: pointer;
}

.srEndcap > div {
    margin: 0 auto;
}

.mt_sliderTop .mt_title {
    font-family: "CrimsonText-Regular", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 30px;
    margin: 2% 0;
    display: block;
    font-weight: 300;
}

@media only screen and (max-width:1024px) {
	.srVideo {
		padding-top: 50%;
	}

	span.quote {
		font-size: 26px;
		padding-top: 0% !important;
		width: 100%;
		max-width: 100%;
	}

	span.quoteOwner {
		font-size: 22px;
		margin: 1% 0;
	}

}

/*@media only screen and (max-width:740px) {
	span.quote {
		font-size: 4.5vw;
	}

	span.quoteOwner {
		font-size: 4.5vw;
	}

}*/

@media only screen and (max-width:740px) {
	.desktopHero {
		display: none;
	}

	.mobileHero {
		display: block;
	}

}

@media only screen and (max-width:500px) {
	.srMedia {
		span {
			font-size: 6vw;
			line-height: 1.3;
		}

	}

}

/** Generic styling END **/

/** Lightbox **/
.srLightbox {
	display: none;
}

.srLightbox.active {
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.95);
	width: 100%;
	max-width: 900px;
	left: 10vw;
	padding: 10px;
	margin-top: 4.5%;
	box-shadow: 0px 0px 10px;

	.lightboxClose {
		text-align: right;
		margin-top: -10px;

		span {
			font-family: $osbold;
			font-size: 20px;
			line-height: 1;
			cursor: pointer;
		}

	}

}

.productDetail {
	text-align: left;
	padding-left: 20px;

	> * {
		display: block;
	}

	.productTitle {
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 1.2px;
	}

	.productTech {
		list-style-type: none;
		margin-left: 0;
		font-size: 16px;
		line-height: 1.2;

		li::before {
			content: '-';
			font-weight: 700;
			margin-right: 1%;
		}

	}

	.productPrice {
		font-size: 20px;
		line-height: 1;
		margin: 3% 0;
	}

	.productDesc {
		margin: 0 0 4% 0;
		font-size: 18px;
	}

	.productButton {
		background: #ff9000;
		max-width: 160px;
		text-align: center;
		padding: 1.5% 0;
		color: #fff;
		text-transform: uppercase;
		margin-top: 12%;
		border: 1px solid #ff9000;
		transition: all 0.5s;
	}

	.productButton:hover {
		background: #fff;
		color: #000;
		transition: all 0.5s;
	}

}

@media only screen and (max-width:1228px) {
	.srLightbox.active {
		left: 4vw;
		margin-top: 0%;
	}

	.productImage {
		max-width: 270px;
		margin: 0 auto 1% auto;
	}

	.productDetail {
		.productPrice {
			margin: 1% 0;
		}

		.productDesc {
			margin: 0 0 1% 0;
		}

		.productButton {
			max-width: 200px;
			padding: 1% 0;
			margin: 0 auto;
		}

	}

}

@media only screen and (max-width:1024px) {
	.srLightbox.active {
		left: 0vw;
	}

}

/** Lightbox END **/

/** On Craghoppers **/
.srCraghoppers {
	margin-top: 0;

	.srIntro {
		padding: 20px 50px 0 50px;

		.flex-container {
			margin: 0;
		}

		.flex-item {
			text-align: left;
		}

		.onCHProduct {
			position: relative;
			top: 40%;
			left: 25%;
			cursor: pointer;
		}

	}

}

@media only screen and (max-width:1024px) {
	.srCraghoppers {
		.srIntro {
			.srHeroHover {
				max-width: 346px;
				margin: 0 auto;
			}

			.srHeroHover {
				max-width: 346px;
				margin: 0 auto;
			}

		}

	}

}

@media only screen and (max-width:740px) {
	.srHeroHover {
		.srHeroOverlay {
			display: block;
		}

	}

	.srCraghoppers {
		.srIntro {
			padding: 20px 20px 0 20px;
		}

	}

}

/** On Craghoppers END **/

/** On Kit **/
.srKit {
	.srIntro {
		.flex-container {
			margin: 10px 0 0 0;
		}

	}

	.srInfo {
		p {
			font-size: 26px;
			max-width: 965px;

			span {
				display: block;
				font-family: $osbold;
				text-transform: uppercase;
				font-size: 20px;
				letter-spacing: 1.2px;
				margin-top: 1%;
			}

		}

	}

}

.heroOne {
	.onCHProduct.srProductOne {
		top: 43%;
		left: 20%;
	}

	.onCHProduct.srProductTwo {
		top: 38%;
		right: 13%;
	}

}

.heroTwo {
	.onCHProduct.srProductOne {
		top: 35%;
		right: 18%;
	}

	.onCHProduct.srProductTwo {
		top: 63%;
	}

}

.heroThree {
	.onCHProduct.srProductOne {
		top: 38%;
		right: 15%;
	}

	.onCHProduct.srProductTwo {
		top: 62%;
	}

}

.heroFour {

	.onCHProduct.srProductOne {
	    top: 37%;
	    right: 9%;
	}

	.onCHProduct.srProductTwo {
	    top: 94%;
	    left: 15%;
	}

}



@media only screen and (max-width:740px) {
	.srKit {
		.srIntro {
			overflow: scroll;

			.flex-container {
				width: 200%;
				flex-wrap: nowrap;
				display: block;
			}

			.flex-item.col-3 {
				width: 21%;
				display: inline-block;
				float: left;
				flex-grow: 0;
			}

		}

		.srInfo {
			p {
				font-size: 3.5vw;
			}

		}

		.srIntro::after {
			content: '';
			background-image: url(https://cdn.craghoppers.com/img/AW18/UK/page/simon-reeve/misc/right-arrow.svg);
			display: block;
			width: 40px;
			height: 40px;
			position: absolute;
			right: 1%;
			background-size: 100%;
			top: 19%;
			background-color: #fff;
			border-radius: 90px;
			opacity: 0.25;
			background-repeat: no-repeat;
		}

	}

}

@media only screen and (max-width:470px) {
	.srKit {
		.srIntro::after {
			top: 15%;
		}

	}

}

@media only screen and (max-width:350px) {
	.srKit {
		.srIntro::after {
			top: 12%;
		}

	}

}

/** On Kit END **/

/** On Plastic **/
.srPlastic {
	.srIntro {
		padding: 20px 50px 0 50px;
	}

	.flex-container {
		margin-bottom: 0;
	}

	.srInfo {
		p span {
			display: block;
			font-family: $osbold;
			text-transform: uppercase;
			font-size: 20px;
			letter-spacing: 1.2px;
			margin-top: 1%;
		}

	}

	.srTechFocus {
		margin: 2% 0;

		.techHeader {
			font-family: "CrimsonText-Regular", Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			letter-spacing: 1.1px;
			font-size: 30px;
			margin: 0 0 2% 0;
			display: block;
		}

		.flex-container {
		    max-width: 700px;
		    margin: 0 auto;
		}

		.col-4 img {
		    max-width: 140px;
		    margin: 0 auto;
		}

		.techDetail {
		    text-align: left;

		    span {
			    font-family: $osbold;
			    font-size: 18px;
			    letter-spacing: 1.1px;
			    margin-top: 3%;
    			display: block;
			}
		}

	}

	.onCHProduct.srProductOne {
		top: 38%;
		left: -15%;
	}

	.onCHProduct.srProductTwo {
		top: 86%;
		left: 19%;
	}

	span.quote {
	    padding-top: 25%;
	}

}

@media only screen and (max-width:1024px) {
	.srPlastic {
		.srIntro {
			span.quote {
			    font-size: 26px;
			}
			span.quoteOwner {
    			font-size: 22px;
    		}

			.srHeroHover {
				max-width: 346px;
				margin: 0 auto;
			}

		}
		
		.srTechFocus{
			.flex-item.col-4.techImg {
			    width: 40%;
			}

			.flex-item.col-8.techDetail {
			    width: 60%;
			}
		}

	}

}

@media only screen and (max-width:500px) {
	.srPlastic {
		.srTechFocus {
			.flex-item.col-4.techImg {
				width: 100%;
			}

			.flex-item.col-8.techDetail {
			    width: 100%;
			}

		}

	}

}

/** On Plastic END**/

/** On Travel **/
.srTravel {

	.srIntro {
	    padding: 20px 50px 0 50px;

	    .flex-container {
			margin-bottom: 0;
		}
	}

	.srInfo.srInfoSimon {		

		p {
			font-style: italic;
			max-width: 838px;
			font-size: 18px;
		}

	}

	.srInfo.srInfoTech {
		p {
			margin: 2% auto;
		}

		p:last-of-type {
		    font-style: italic;
		}

		span:first-of-type{
			font-family: $crimreg;
		    text-transform: uppercase;
		    letter-spacing: 1.1px;
		    font-size: 30px;
		    margin: 2% 0;
		    display: block;
		}
		span:last-of-type{
		    display: block;
		    font-family: $osbold;
		    text-transform: uppercase;
		    font-size: 20px;
		    letter-spacing: 1.2px;
		    margin-top: 1%;
		}

	}

	.onCHProduct.srProductOne {
		top: 38%;
		left: -15%;
	}

	.onCHProduct.srProductTwo {
		top: 86%;
		left: 19%;
	}

	span.quote {
	    padding-top: 25%;
	}

}

@media only screen and (max-width:740px) {
	.srTravel {
		.srIntro {
			.srHeroHover {
				max-width: 346px;
				margin: 0 auto;
			}

		}

	}

}

/** On Travel END **/