////////////////////////////
//Top level banners styles//
///////////////////////////
.plp-headerMens{
	background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/top_level/TopLevel-Banners-Mens.jpg");
}
.plp-headerWomens{
	background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/top_level/TopLevel-Banners-Womens.jpg");
}
.plp-headerKids{
	background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/top_level/TopLevel-Banners-Kids.jpg");
}
.plp-fleeceMens{
	background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-MensFleece.jpg");
}
.plp-trousersMens{
	background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-MensTrousers.jpg");
}
.plp-jacketsMens{
	background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-MensJackets.jpg");
}
.plp-shirtsMens{
	background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-MensShirts.jpg");
}
.plp-fleeceWomens{
	background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-WomensFleece.jpg");
}
.plp-trousersWomens{
	background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-WomensTrousers.jpg");
}
.plp-jacketsWomens{
	background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-WomensJackets.jpg");
}
.plp-shirtsWomens{
	background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-WomensShirts.jpg");
}
.plp-jacketsKids{
	background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-Banners-KidsJackets.jpg");
}
.plp-headerKidsSchool{
	background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-Banner-BacktoSchool-desktop.jpg");
}

.category-view__title {
    margin-bottom: 0;
    font-family: $crimreg;
}
.categorypath-men p.category-view__description,
.categorypath-women p.category-view__description,
.categorypath-womens p.category-view__description,
.categorypath-kids p.category-view__description,
.categorypath-accessories p.category-view__description,
.header-customclothing p.category-view__description {
    width: 59%;
    margin-bottom: 0;
} 

.header-customclothing{
	padding: 6% 0;
}
.plp-header {
    text-align: left;
    background-repeat: no-repeat;
    padding: 2.5% 0;
    background-size: cover;
    background-position: center;
    margin-bottom: 1%;
}
.plp-header h1 {
    text-align: left;
    color: #000;
    font-family: $crimreg;
    margin-bottom: 2%;
    line-height: 1;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 300;
}
.plp-header a {
    margin: 0 2% 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.plp-header.plp-toplevel h1 {
    margin-bottom: 0;
}

.plp-header.plp-toplevel {
    padding: 4% 0;
}

.category-view__description {
    font-size: 14px;
    width: 100% !important;
}

.plp-container {
	max-width: 1228px;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px){
	
	.plp-headerMens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/top_level/TopLevel-BannersTablet-Mens.jpg");
	}
	.plp-headerWomens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/top_level/TopLevel-BannersTablet-Womens.jpg");
	}
	.plp-headerKids{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/top_level/TopLevel-BannersTablet-Kids.jpg");
	}
	.plp-fleeceMens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersTablet-MensFleece.jpg");
	}
	.plp-trousersMens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersTablet-MensTrousers.jpg");
	}
	.plp-jacketsMens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersTablet-MensJackets.jpg");
	}
	.plp-shirtsMens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersTablet-MensShirts.jpg");
	}
	.plp-fleeceWomens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersTablet-WomensFleece.jpg");
	}
	.plp-trousersWomens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersTablet-WomensTrousers.jpg");
	}
	.plp-jacketsWomens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersTablet-WomensJackets.jpg");
	}
	.plp-shirtsWomens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersTablet-WomensShirts.jpg");
	}
	.plp-jacketsKids{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersTablet-KidsJackets.jpg");
	}
	.plp-headerKidsSchool{
		background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-Banner-BacktoSchool-tablet.jpg");
	}

	.plp-header.plp-toplevel {
    	padding: 7% 0;
	}

	.plp-container {
    	padding-left: 1.5%;
	}
}

@media only screen and (max-width: 700px){
	
	.plp-headerMens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/top_level/TopLevel-BannersMobile-Mens.jpg");
	}
	.plp-headerWomens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/top_level/TopLevel-BannersMobile-Womens.jpg");
	}
	.plp-headerKids{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/top_level/TopLevel-BannersMobile-Kids.jpg");
	}
	.plp-fleeceMens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersMobile-MensFleece.jpg");
	}
	.plp-trousersMens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersMobile-MensTrousers.jpg");
	}
	.plp-jacketsMens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersMobile-MensJackets.jpg");
	}
	.plp-shirtsMens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersMobile-MensShirts.jpg");
	}
	.plp-fleeceWomens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersMobile-WomensFleece.jpg");
	}
	.plp-trousersWomens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersMobile-WomensTrousers.jpg");
	}
	.plp-jacketsWomens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersMobile-WomensJackets.jpg");
	}
	.plp-shirtsWomens{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersMobile-WomensShirts.jpg");
	}
	.plp-jacketsKids{
		background-image: url("https://cdn.craghoppers.com/img/AW18/UK/cat/secondary_level/TopLevel-BannersMobile-KidsJackets.jpg");
	}
	.plp-headerKidsSchool{
		background-image: url("https://cdn.craghoppers.com/img/SS18/UK/cat/top_level/TopLevel-Banner-BacktoSchool-mobile.jpg");
	}
	.plp-header {
    	padding: 10% 0;
	}
	.plp-header.plp-toplevel {
    	padding: 13% 0;
	}
	.plp-header h1 {
	    font-size: 4.6vw;
	}

	.plp-container {
    	padding-left: 10px;
	}
}

/* Mobile SEO show/hide */
.seemore {
    margin: 0 auto;
    width: 200px;
    text-align: center;
    background: #e3e3e3;
    padding: 2% 0;
    margin-top: 1%;
}

p.category-view__description.category-description {
    display: block !important;
}

.category-view__title + .category-view__description .gradient{
	margin-top:-5.5%;
}

.seemore.toggle-removebttn,
.category-view__description + .category-view__description .gradient,
.gradient.gradient-toggle,
.mobileseo-container.close{
	display: none;
}

.mobileseo-container {
    margin-top: -7%;
} 


@media only screen and (max-width: 644px){
	p.category-view__description.first-description {
	    max-height: 50px;
	    overflow: hidden;
	}

	.mobileseo-container {
	    margin-top: -52px;
	}

}

@media only screen and (max-width: 375px){
	.category-view__title + .category-view__description .gradient {
	    margin-top: -12.5%;
	}
}

/* PLP Show/Hide */
@media only screen and (max-width: 650px){
	.category-view__description {
	    height: auto;
	    overflow: hidden;
	}
	.category-view__description + button {
	    display: block !important;
	}

	.category-view__description + button {
	    display: block;
	    margin: 0 auto;
	    background: #000;
	    border: #000;
	    color: #fff;
	    padding: 0.5% 50px;
	    margin-top: 1.5%;
	}

}
/* END */

/* Full width START */

.js-fredhopper-fredhopper-hero-wrapper-placeholder .o-region__inner {
	width: 100% !important;
}

.banner__text,
.banner__title,
.seoheader,
.category-view__title,
.js-fredhopper-fredhopper-plp-seo-text-wrapper-placeholder {
	max-width: 1228px;
	margin: 0 auto;
}

/* Full width END */