// Only put in here styles needed for Crags US

/* Insect Repellent Collection Dump */
.cms-insect-repellent-collection{
    .wrapper{
    	display: inline-block;
    	max-width:1228px;
    }
    .hero-irc{
    	background-image:url('https://d1khwdv4lze0nb.cloudfront.net/images/SS16/US/Collection+Assets/IS_MainImage_1140x400px.jpg');
    	height: 400px;
    	background-size: cover;
    }
    .wrapper > *,
    .row-10 > *{
    	float:left;
    }
    .row-10{
    	width:100%;
    }
    .row-8{
    	width: 80%;
    }
    .row-7{
    	width: 70%;
    }
    .row-5{
    	width:50%;
    }
    .row-3{
    	width: 30%;
    }
    .row-2{
    	width:20%;
    }
    .row-3 a {
        border: 2px solid #000;
        width: 100%;
        float: left;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        margin-top: 3%;
        padding: 2% 0;
        font-size: 16px;
    }
    .hero-button{
    	padding: 0 1%;
    }
    .hero-info{
    	padding: 1.5%;
    }
    .row-clear{
    	border-bottom: 1px solid #000;
        margin-bottom: 2%;
    }
    .hero-product {
        padding: 1.3% 2%;
    }
    .row-5 a {
        width: 100%;
        display: inline-block;
        text-align: center;
        border: 2px solid #000;
        padding: 0.5% 0;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 6%;
        font-size: 16px;
        margin-top: 2%;
    }
    .row-paddingleft {
        padding-left: 1%;
    }
    .row-paddingright {
        padding-right: 1%;
    }
    .section-clear {
        border: 1px solid;
        margin-bottom: 4%;
    }
    .tech-padding{
    	padding: 0 2.5%;
    }

    .hero_hover{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        display: none;
        position: relative;
    }

    .row-10.hero-irc:hover .hero_hover {
        display: block;
    }

    .hero_hover a {
    	width: 100%;
        height: 100%;
        display: table;
        text-decoration: none;
    }

    .play-buttoncontainer{
    	text-align: center;
        vertical-align: middle;
        display: table-cell;
    }

    .play-buttoncontainer span{
    	color: #fff;
        font-weight: bold;
        font-size: 18px;
        background: #494949;
        border-radius: 100px;
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto;
        line-height: 51px;
        background: -moz-linear-gradient(top, #7f7f7f 1%, #494949 100%);
        background: -webkit-linear-gradient(top, #7f7f7f 1%,#494949 100%);
        background: linear-gradient(to bottom, #7f7f7f 1%,#494949 100%);
    }

    .play-buttoncontainer span p{
    	width: 0px;
        border-top: 8px solid transparent;
        border-left: 12px solid #fff;
        border-bottom: 8px solid transparent;
        margin: 0 auto;
        top: 17px;
        position: relative;
    }

    .hero-tech {
        position: absolute;
    }

    .hero-product ul li {
        list-style-type: none;
    }

    .hero-product ul {
        margin-left: 3%;
    }

    .hero-product p:first-child,
    .tech-padding h3 {
        font-size: 1.5em;
        margin-bottom: 2%;
    }

    .hero-info h1 {
        line-height: 1.5;
    }

    .row-3 a:hover,
    .row-5 a:hover {
        background: #000;
        color: #fff;
    }

    .hero-product li strong {
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 550px){
    .cms-insect-repellent-collection{
    	.row-7 {
    		width: 100%;
    	}

    	.row-5 {
    		width: 100%;
    	}

    	.row-3 {
    		width: 100%;
    	}

    	.row-paddingleft,
    	.row-paddingright {
    		padding: 0;
    	}

    	.hero_hover {
    		display: block;
    	}

    	.hero-button a:last-child {
    		margin-bottom: 2%;
    	}

    	.row-clear {
    	    margin: 3% 0;
    	}

    	.hero-product p {
    	    margin-top: 1%;
    	}

    	.hero-product img {
    	    width: 100% !important;
    	}
    	
    	.row-5 a {
    	    margin-bottom: 2%;
    	}

    	.row-paddingright a {
    	    margin-bottom: 0;
    	}
    }
	
}

/* END */

/* US Banners */

.categorypath-men.category-men .mens-seoheader,
.categorypath-women.category-women .womens-seoheader {
    padding: 6.8% 0;
}
/* END */

/* US Checkout Changes */
#checkout > div.o-layout.u-flex-display\40 tablet > div.o-layout__item.u-8\2f 12.u-8\2f 12\40 tablet.u-8\2f 12\40 desktop.u-12\2f 12\40 mobile > div.u-margin-above.u-margin-below-2 > div > div:nth-child(2) {
    display: none !important;
}
.c-footer__payment-icons {
    width: 125px !important;
}
#checkout .c-box-option__radio:checked+.c-box-option__inner .c-box-option__sub-title {
    opacity: 0;
}
.c-basket__payment-icons {
    background: url(https://cdn.craghoppers.com/img/AW17/US/misc/payment_types/payment-icons-us.jpg) no-repeat !important;
}
/* END */

/* Slider update */
.cms-homepage-promo-grid-ch-us{
  .o-region__inner.column.main,
  .o-region__inner.s-promo-grid {
      width: 100%;
  }

  section.flexslider.pageSection.pageSection--slider.pageSection--fullWidth.fullWidthSlider {
      max-width: 100%;
  }

  section.pageSection.pageSection--fullWidth.pageSection--noTitle.pageBanner--desktop {
      margin: 0 auto;
      float: none;
  }
}

li.fullWidthSlider__slideContainer.pageBanner:nth-child(2) div div a:hover {
    background: #000 !important;
}

/* END */

/* Mega menu */

.collection-mrecycled{
    background-image:url(https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/mens/Mens-MegaMenu-RecycledClothing.jpg);
}
.collection-mgore{
    background-image:url(https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/mens/Mens-MegaMenu-GORE-TEX.jpg);
}
.UScollection-minsect{
    background-image:url(https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/mens/Mens-MegaMenu-InsectShield.jpg) !important;
}
.collection-mnewarrival{
    background-image:url(https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/mens/Mens-MegaMenu-NewArrivals.jpg);
}

.collection-wrecycled{
    background-image:url(https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/womens/Womens-MegaMenu-Recycled.jpg);
}
.collection-wgore{
    background-image:url(https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/womens/Womens-MegaMenu-GoreTex.jpg);
}
.UScollection-winsect{
    background-image:url(https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/womens/Womens-MegaMenu-InsectShield.jpg) !important;
}
.collection-wnewarrival{
    background-image:url(https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/womens/Womens-MegaMenu-NewArrivals.jpg);
}

.collection-ktoppick{
    background-image:url(https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/kids/Kids-MegaMenu-TopPicks.jpg);
}
.collection-kbestseller{
    background-image:url(https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/kids/Kids-MegaMenu-NewArrivals.jpg);
}

.usStory {
    cursor: context-menu;
}

/*END*/

/* CHUS Feefo */
.c-feefo {
    display: none !important;
}
/* END */

/* Homepage SEO */
@media only screen and (max-width:740px) {
    .pageSection.pageSection--Seo p {
        text-align: center;
    }

}
/* END */

/*.plp-headerMens + .seoheader p,
.plp-headerWomens + .seoheader p{
    text-align: center;
}*/

.s-text-banner p + p.category-view__description,
.s-text-banner h1.category-view__title + p {
    max-width: 1228px;
    margin: 0 auto;
}


/* Product Page Endcap */
.endcap-container + div {
    margin: 0 auto;
    padding: 0.5% 0;
}
/* END */

/* Newsletter sign up */
.c-footer__social {
    display: block !important;
}
/* Newsletter sign up END */

/* AW18 Headers */

a.collection-ktoppick {
    color: #000 !important;
}

.plp-headerWomens{
    background-image: url("https://cdn.craghoppers.com/img/AW18/US/cat/top_level/TopLevel-Banners-Womens.jpg") !important;
}

@media only screen and (max-width: 1000px){
    .plp-headerWomens{
        background-image: url("https://cdn.craghoppers.com/img/AW18/US/cat/top_level/TopLevel-BannersTablet-Womens.jpg") !important;
    }
}


@media only screen and (max-width: 700px){
    .plp-headerWomens{
        background-image: url("https://cdn.craghoppers.com/img/AW18/US/cat/top_level/TopLevel-BannersMobile-Womens.jpg") !important;
    }
}
/* SS18 Headers END */

/* AW18 Updates */
.menuSection.menuCollection {
    width: 100% !important;
}

.menuSection.menuGenderCollection {
    width: 80% !important;
}

.menuAmbassadors .collectionItem {
    max-width: 236px;
}

.s-main-menu .block .category-items .menuAmbassadors .collectionItem a {
    padding: 29% 0px;
}

.ambass-ben {
    background-image: url('https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/ambassadors/USA-Ambassadors-BenSadd.jpg');
}

.ambass-coyote {
    background-image: url('https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/ambassadors/USA-Ambassadors-CoyotePeterson.jpg');
}

.ambass-kevin {
    background-image: url('https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/ambassadors/USA-Ambassadors-KevinRichardson.jpg');
}

.ambass-felix {
    background-image: url('https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/ambassadors/USA-Ambassadors-FelixNdagijimana.jpg');
}

.ambass-tasmin {
    background-image: url('https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/ambassadors/USA-Ambassadors-TamsinJones.jpg');
}

.ambass-faruk {
    background-image: url('https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/ambassadors/USA-Ambassadors-FarukAkbas.jpg');
}

.ambass-pip {
    background-image: url('https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/ambassadors/USA-Ambassadors-PipStewart.jpg');
}

.ambass-david {
    background-image: url('https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/ambassadors/USA-Ambassadors-DavidLove.jpg');
}

.ambass-brandon {
    background-image: url('https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/ambassadors/USA-Ambassadors-BrandonEckroth.jpg');
}

.ambass-louisa {
    background-image: url('https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/ambassadors/USA-Ambassadors-DrLouisaPreston.jpg');
}

.ambass-penny {
    background-image: url('https://cdn.craghoppers.com/img/AW18/US/misc/mega_menu/ambassadors/USA-Ambassadors-PennyRobartes.jpg');
}

@media only screen and (max-width:1227px) {
    .menuAmbassadors .collectionItem {
        max-width: 188px;
    }

}

.menuGenderCollection {
    .collectionItem:nth-child(2),
    .collectionItem:nth-child(5) {
        margin: 0;
    }

    .collectionItem {
        max-width: 476px;
    }

    .collection {
        background-image: url('https://via.placeholder.com/476x141');
    }

    .collectionItem:nth-child(1),
    .collectionItem:nth-child(3) {
        margin-right: 12px;
    }

    .collectionItem:nth-child(1),
    .collectionItem:nth-child(2) {
        margin-bottom: 1.2%;
    }

    .collectionItem:nth-child(4) {
        margin: 0;
    }

    .collectionItem a {
        padding: 12.3% 0px !important;
    }

}

@media only screen and (max-width:1227px) {
    .menuGenderCollection .collectionItem {
        max-width: 381px;
    }

}


/* AW18 Headers END */

/** PLP Updates **/
.o-layout.mobile-flex .c-toolbar--position .o-layout.u-flex-row .o-layout__item:nth-child(1) ul li.selected {
    font-weight: 300;
}
/** PLP Updates END **/